<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
        <% if current_user(@company.slug).role >= ROLE[:manager] %>
          <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <%else%>
          <li><%= link_to @company.name, company_path(@company) %></li>
        <%end%>
        <li><%= link_to t(:employees), company_users_path(@company)  %></li>
        <li class="current">
          <% if session[:model_name].eql?("users") %>
            <a href="#"><%= t(:export_user) %></a>
          <% end %>
          <% if session[:model_name].eql?("time_offs") %>
            <a href="#"><%= t(:export_time_offs) %></a>
          <% end %>
        </li>
        <li class="current">
          <a href="#"><%= t(:choose_users_export) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
        <div class="row">
          <div class="twelve columns">

            <% if session[:model_name].eql?("users") %>
              <h2><%= t(:export_user) %></h2>
            <% end %>
            <% if session[:model_name].eql?("time_offs") %>
              <h2><%= t(:export_time_offs) %></h2>
            <% end %>

            <%= form_tag(:controller => "exportsingle", :action => "export_users_step", :method => "post") do %>
              
              <p class="radius label"><%= t(:choose_users_export)%></p> <br/> <br/>

              <% @users.each do |u| %>
                <span><%= check_box_tag "users_emails[]" , u.email , :checked => true %><%= u.name + "(" + u.email + ")" %></span>
                </br>
              <% end %>
              <br/>
              <div style="text-align: center">
                <%= submit_tag t(:download), :class=>"radius button" %>
                <%= link_to t(:done), :back , :class=>"radius button"%>
              </div>
             </br>
  
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>