<h2>
	IMPORTED DATA STATS
</h2>

	<h3> 
		The Following Users were imported:
	<h3/>
	<% session[:imported_users].each do |u| %>
		<p>
		* <%= u.to_s %>
		<p/>
	<% end %>


<hr />

<%= form_tag(:controller => "importsingle", :action => "finalize", :method => "post") do %>
    <div><%= submit_tag 'OK' %></div>
<% end -%>
<hr />
<%= form_tag(:controller => "importsingle", :action => "import_another", :method => "post") do %>
    <div><%= submit_tag 'Import from other Sheet' %></div>
<% end -%>