<div class="row">
    <div class="twelve">
    <h1>Job Offers from <%= @company.name %></h1>
    <hr/>
    <table class="twelve">
      <tr>
        <th>Job Offer</th>
        <th>Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <% @offers.each do |offer| %>
          <tr>
            <td><%= offer.job_name %></td>
            <td><%= offer.created_at %></td>
            <td><% if offer.active %><%= 'Open'  %><% else %><%= 'Closed' %> <% end %></td>
            <td><%= link_to 'Apply for this Job' , new_apply_path(@company,offer) %></td>

          </tr>
      <% end %>
    </table>
  </div>
</div>