<div class="row">
  <div class="twelve columns">
    <h2>Job Offers from <%= @company.name %></h2>
  
  <div class="row">
    <div class="eight columns">
      <dl class="tabs pill">
        <% if params[:order] == "DESC" %>
            <dd><%= link_to "A-Z", public_company_job_offers_path(@company,params.merge({order: "ASC"})) %> </dd>
            <dd class="active"><%= link_to "Z-A", public_company_job_offers_path(@company,params.merge({order: "DESC"})  )%> </dd>
        <% else %>
            <dd class="active"><%= link_to "A-Z", public_company_job_offers_path(@company,params.merge({order: "ASC"})) %> </dd>
            <dd><%= link_to "Z-A", public_company_job_offers_path(@company,params.merge({order: "DESC"})  )%> </dd>
        <% end %>
      </dl>
    </div>
    <div class="four columns">
      <div class="row collapse">
        <div class="row collapse">
          <%= form_tag public_company_job_offers_path(@company), :method => 'get' do %>
              <div class="eight mobile-three columns">
                <%= text_field_tag :search, params[:search] %>
              </div>
              <div class="four mobile-one columns">
                <%= submit_tag "Search", :name => nil, :class=>"button expand postfix" %>
              </div>
          <% end %>
        </div>
    </div>
  </div>
    <table class="twelve publicJobsTable">
      <thead>
        <tr>
          <th>Job Offer</th>
          <th>Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @offers.each do |offer| %>
          <tr>
            <td><%= link_to offer.job_name , new_apply_path(@company,offer)%></td>
            <td><%= offer.created_at %></td>
            <td><% if offer.active %><%= 'Open'  %><% else %><%= 'Closed' %> <% end %></td>
            <td><%= link_to 'Apply for this Job' , new_apply_path(@company,offer), :class=>"radius button tiny" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @offers %>
  </div>
  </div>
</div>