<h1>LinkedIn Profile</h1>
<table>
  <tr>
    <td>Name</td>
    <td><%= @candidate.name %></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><%= @candidate.email %></td>
  </tr>
  <tr>
    <td>Nationality</td>
    <td><%= @candidate.nationality %></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><%= @candidate.location %></td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td><%= @candidate.phone %></td>
  </tr>
</table>

<table>
  <tr>
    <th colspan="2">Education</th>
    <th></th>
  </tr>
  <% @profile["educations"]["all"].each do |ed| %>
      <tr>
        <td colspan="2"><b>Details</b></td>
        <td></td>
      </tr>
      <tr>
        <td>School Name</td>
        <td><%= ed.school_name %></td>
      </tr>
      <tr>
        <td>Degree</td>
        <td><%= ed.degree %></td>
      </tr>
      <tr>
        <td>Field of Study</td>
        <td><%= ed.field_of_study %></td>
      </tr>
      <tr>
        <td>Since</td>
        <td><% if ed.start_date %><%= ed.start_date["year"] %><% else %><%= '--' %><% end %></td>
      </tr>
      <tr>
        <td>Until</td>
        <td><% if ed.end_date %><%= ed.end_date["year"] %><% else %><%= '--' %><% end %></td>
      </tr>
  <% end %>
</table>

<table>
  <tr>
    <th colspan="2">Positions</th>
    <th></th>
  </tr>
  <% @profile["positions"]["all"].each do |pos| %>
      <tr>
        <td colspan="2"><b>Details</b></td>
        <td></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><%= pos.title %></td>
      </tr>
      <tr>
        <td>Company</td>
        <td><%= pos.company["name"] %></td>
      </tr>
      <tr>
        <td>Since</td>
        <td><%= pos.start_date["year"] %></td>
      </tr>
      <tr>
        <td>Until</td>
        <td><% if pos.is_current%><%= 'Current'%><% else %><%= pos.end_date["year"]  %><% end %></td>
      </tr>
  <% end %>
</table>

<table>
  <tr>
    <th colspan="2">Skills</th>
    <th></th>
  </tr>
  <% @profile["skills"]["all"].each do |skill| %>
    <tr>
      <td><b>Name</b></td>
      <td><%= skill["skill"].name %></td>
    </tr>
  <% end %>
</table>

<%= form_tag linkedin_profile_path(params[:company_id],params[:id]) do%>
    <%= hidden_field_tag :profile , @profile.to_param %>
    <%= submit_tag 'Valeu!' %>
<% end %>


<%= link_to 'Cancel' , new_apply_path(params[:company_id],params[:id]) %>
