<div class="row">
  <div class="twelve columns" style="margin-top: 50px">
    <ul class="breadcrumbs">
      <li><%= link_to @company.name , public_company_job_offers_path( @company) %></li>
      <li class="current"><%= link_to @offer.job_name, '' %></li>
      <li class="current"> <a><%= t(:linkedin_profile) %></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2><%= t(:linkedin_profile) %></h2>
    <hr/>
    
    <div class="row">
      <div class="twelve columns">

          <table class="twelve tableJobs">
            <tr>
              <td><p class="radius label"><%= t(:name) %></p></td>
              <td><%= @candidate.name %></td>
            </tr>
            <tr>
              <td><p class="radius label"><%= t(:email) %></p></td>
              <td><%= @candidate.email %></td>
            </tr>
            <tr>
              <td><p class="radius label"><%= t(:nationality) %></p></td>
              <td><%= @candidate.nationality %></td>
            </tr>
            <tr>
              <td><p class="radius label"><%= t(:location) %></p></td>
              <td><%= @candidate.location %></td>
            </tr>
            <tr>
              <td><p class="radius label"><%= t(:phone) %></p></td>
              <td><%= @candidate.phone %></td>
            </tr>
          </table>
        
        <h2><%= t(:education) %></h2>

        <table class="twelve tableJobs">
          <% if @profile["educations"]["all"].nil? %>
          <h3 style="text-align:center"> <%= t(:no_education) %></h3>
          <% else %>
              <% @profile["educations"]["all"].each do |ed| %>
                  <tr>
                    <td colspan="2", style="text-align:center"><b><%= t(:details) %></b></td>
                  </tr>
                  <tr>
                    <td><p class="radius label"><%= t(:school) %></p></td>
                    <td><%= ed.school_name %></td>
                  </tr>
                  <tr>
                    <td><p class="radius label"><%= t(:degree) %></p></td>
                    <td><%= ed.degree %></td>
                  </tr>
                  <tr>
                    <td><p class="radius label"><%= t(:field_of_study) %></p></td>
                    <td><%= ed.field_of_study %></td>
                  </tr>
                  <tr>
                    <td><p class="radius label"><%= t(:since) %></p></td>
                    <td><% if ed.start_date %><%= ed.start_date["year"] %><% else %><%= '--' %><% end %></td>
                  </tr>
                  <tr>
                    <td><p class="radius label"><%= t(:until) %></p></td>
                    <td><% if ed.end_date %><%= ed.end_date["year"] %><% else %><%= '--' %><% end %></td>
                  </tr>
              <% end %>
          <% end %>
        </table>


        <table>
          <tr>
            <th colspan="2">Positions</th>
            <th></th>
          </tr>
          <% if @profile["positions"]["all"].nil?  %>
              <tr>
                <td colspan="2"><%= "None"  %></td>
              </tr>
          <% else %>
              <% @profile["positions"]["all"].each do |pos| %>
                  <tr>
                    <td colspan="2"><b>Details</b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Title</td>
                    <td><%= pos.title %></td>
                  </tr>
                  <tr>
                    <td>Company</td>
                    <td><%= pos.company["name"] %></td>
                  </tr>
                  <tr>
                    <td>Since</td>
                    <td><%= pos.start_date["year"] %></td>
                  </tr>
                  <tr>
                    <td>Until</td>
                    <td><% if pos.is_current%><%= 'Current'%><% else %><%= pos.end_date["year"]  %><% end %></td>
                  </tr>
              <% end %>
          <% end %>
        </table>

        <table>
          <tr>
            <th colspan="2">Skills</th>
            <th></th>
          </tr>
          <% if @profile["skills"]["all"].nil? %>
              <tr>
                <td colspan="2"><%= "None" %></td>
              </tr>
          <% else %>
              <% @profile["skills"]["all"].each do |skill| %>
                  <tr>
                    <td><b>Name</b></td>
                    <td><%= skill["skill"].name %></td>
                  </tr>
              <% end %>
          <% end%>
        </table>

        <%= form_tag linkedin_profile_path(params[:company_id],params[:id]) do%>
            <%= hidden_field_tag :profile , :yes %>
            <%= submit_tag 'Accept!' %>
        <% end %>


        <%= link_to 'Cancel' , new_apply_path(params[:company_id],params[:id]) %>
        </div>
  </div>
</div>
</div>
</div>
</div>

