<div class="row" style="margin-top: 50px">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to @company.name , public_company_job_offers_path( @company) %></li>
      <li class="current"><%= link_to @offer.job_name, '' %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h3>Appliance to <%= @company.name %></h3>
    <div class="panel">
      <div class="row">
        <div class="twelve columns">
          
            <table class="twelve tableJobs">
            <tbody>
              <tr>
                <td><span class="label radius">Job Offer</span></td>
                <td><%= @offer.job_name %></td>
              </tr>
              <tr>
                <td><span class="label radius">Required Education</span></td>
                <td><%= @offer.required_education %></td>
              </tr>
              <tr>
                <td><span class="label radius">Skills</span></td>
                <td><%= @offer.skills %></td>
              </tr>
              <tr>
                <td><span class="label radius">Description</span></td>
                <td><%= @offer.description %></td>
              </tr>
              <tr>
                <td><span class="label radius">Conditions</span></td>
                <td><%= @offer.conditions %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <p id="alert"><%= alert %></p>

      <div class="row">
        <div class="twelve columns">
          <dl class="tabs">
            <dd class="active"><a href="#simple1">Apply Via CV</a></dd>
            <dd><a href="#simple2">Apply Via Linked-In</a></dd>
            <dd><a href="#simple3">Apply Via XML</a></dd>
          </dl>

          <ul class="tabs-content">
            <li class="active" id="simple1Tab">
                <%= form_for @candidate , :url => create_apply_path do |f| %>
                  <% if @candidate.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>
                      <ul>
                        <% @candidate.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="two mobile-one columns">
                        <%=f.label :name, :class=>"right inline"%>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :name, :class=>"eight" %>
                    </div>
                  </div> 
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :email, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :email, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :nationality, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :nationality, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :location, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :location, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :phone, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                     <%= f.text_field :phone, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <label class="right inline">CV:</label>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.file_field "file", :name=>"file", required:true %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">

                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.submit 'Apply via CV!' , :class=>"radius button" %>
                    </div>
                  </div>
                <% end %>
            </li>
            <li id="simple2Tab">
                <%= form_for @candidate , :url => create_apply_path do |f| %>
                  <% if @candidate.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>
                      <ul>
                        <% @candidate.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :name, :class=>"right inline"%>
                      <%=hidden_field_tag 'cv_type' , 'linkedin'%>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :name, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :email, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :email, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :nationality, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :nationality, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :location, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :location, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :phone, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :phone, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">

                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.submit 'Apply Via Linked In!' , :class=>"radius button" %>
                    </div>
                  </div>
              <% end %>
            </li>
            <li id="simple3Tab">
              <%= form_for @candidate , :url => create_apply_path, :html => {:multipart => true} do |f| %>
                  <% if @candidate.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@candidate.errors.count, "erro") %> estão a impedir o envio da candidatura:</h2>

                      <ul>
                      <% @candidate.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :name, :class=>"right inline"%>
                      <%=hidden_field_tag 'cv_type' , 'xml'%>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :name, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :email, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :email, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :nationality, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :nationality, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :location, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :location, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <%=f.label :phone, :class=>"right inline" %>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.text_field :phone, :class=>"eight" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">
                      <label class="right inline">XML(europass format):</label>
                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.file_field "file", :name=>"file", required:true %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two mobile-one columns">

                    </div>
                    <div class="ten mobile-three columns">
                      <%= f.submit 'Apply via XML!' , :class=>"radius button" %>
                    </div>
                  </div>
              <% end %>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>