<h1>Candidate Profile</h1>
<table>
  <tr>
    <td>Name</td>
    <td><%= @candidate.name %></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><%= @candidate.email %></td>
  </tr>
  <tr>
    <td>Nationality</td>
    <td><%= @candidate.nationality %></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><%= @candidate.location %></td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td><%= @candidate.phone %></td>
  </tr>
</table>

<iframe src="/<%= @file_pdf.split('/')[1] %>" style="width:100%;height:600px;margin-bottom:10px;"></iframe>

<%= link_to 'Confirm' , save_pdf_profile_path, :class=>"radius button tiny" %>
<%= link_to 'Cancel' , cancel_profile_path, :class=>"radius button tiny" %>
