<h1>Appliance fo <%= @company.name %> - <%= @offer.job_name %> </h1>

<table>
  <tr>
    <td><b>Job Name</b></td>
    <td><%= @offer.job_name %></td>
  </tr>
  <tr>
    <td><b>Description</b></td>
    <td><%= @offer.description %></td>
  </tr>
  <tr>
    <td><b>Education/Professional History</b></td>
    <td><%= @offer.required_education %></td>
  </tr>
  <tr>
    <td><b>Required Skills</b></td>
    <td><%= @offer.skills %></td>
  </tr>
  <tr>
    <td><b>Terms</b></td>
    <td><%= @offer.conditions %></td>
  </tr>
</table>

<%= form_for @candidate , :url => { :action => "createapply" } do |f| %>
    <% @candidate.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>

    <%= f.label :name , 'Name' %>
    <%= f.text_field :name %>

    <%= f.label :location , 'Location' %>
    <%= f.text_field :location %>

    <%= f.label :nationality , 'Nationality'%>
    <%= f.text_field :nationality %>

    <%= f.label :phone , 'Phone' %>
    <%= f.text_field :phone %>

    <%= f.label :email , 'Email' %>
    <%= f.text_field :email %>
    </br>

    <%= f.submit 'Create the Job Offer!'  %>

<% end %>
