<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="background-color: #2BA6CB; 
                height: 20px; 
                color: white; 
                padding: 10px;
                -webkit-border-top-left-radius: 2px;
                -webkit-border-top-right-radius: 2px;
                -moz-border-radius-topleft: 2px;
                -moz-border-radius-topright: 2px;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
      ">
      <!--<%= image_tag('http://rasohr.com/assets/logo-a93807b32d218311cf0d6ebe49309d29.png')%>-->
      <h2 style="text-align: right; margin-right: 20px;">Raso - Lean HR Management</h2>
    </div>
    <div style="border: solid 1px #E6E6E6; 
                background-color: #F2F2F2; 
                padding: 10px;
              ">
      <% if @user.role == ROOT %>
        <h1> <%= @user.company.name %> </h1>
        <h2> Welcome to Raso </h2>
        <p>Thanks for signing up to Raso. We'll do everything we can to make sure it's a great experience your company.</p>
        <p> 
          <ul>
            <li>To validate your account please click 
              <%= link_to "here.", email_verify_url(@user.company_id, token: @user.remember_token) %>
            </li>
            <li>
              Your company login is done at
              <div style="width: 70%; 
                border: solid 1px #E6E6E6; 
                background-color: #868B8D; 
                padding: 10px;
                text-align: center;
                margin-top: 10px;">
                <%= link_to company_url(@company), company_url(@company), :style=>"color:white; font-size: 15px; font-weight: bold;"%>
              </div>
            </li>
          </ul>
        </p>
        <p> After validating your account you can login as admin with this email address. </p>
        <p> Looking forward to hear from you, </p>
        <p> Raso Team </p>
      <% else %>
        <h1>Welcome to rasohr.com, <%= @user.name %></h1>
        <p>You have been invited to rasohr.com. To login after you activate your account, you have to insert your email: <%= @user.email %>.</p>
        <p>      
          To confirm your email click 
          <%= link_to "here.", email_verify_url(@user.company_id, token: @user.remember_token) %>
        </p>
        <p> Looking forward to hear from you, </p>
        <p> Raso Team </p>
      <% end %>
    </div>
    <div style="background-color: #2BA6CB; 
                height: 20px; 
                color: white; 
                padding: 10px;
                -webkit-border-bottom-right-radius: 2px;
                -webkit-border-bottom-left-radius: 2px;
                -moz-border-radius-bottomright: 2px;
                -moz-border-radius-bottomleft: 2px;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;">
                Copyright © 2012 Raso. All rights reserved. Developed by Raso Team.
    </div>
  </body>
</html>
