<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
      <h1>Edit Company</h1>
      <hr/>
        <%= form_for @company, :url => backoffice_company_path(@company) do |f| %>

          <% if @company.errors.any? %> 
            <% @company.errors.full_messages.each do |msg| %>
              <div class="alert-box alert"><%= msg %></div>
            <% end %>
            <hr/>
          <% end %>

          <span class=" radius label">Company Name</span>
          <%= f.text_field :name %>
          
          <span class=" radius label">Slug</span>
          <%= f.text_field :slug %>

          <span class=" radius label">Logo Url</span>
          <%= f.text_field :logo_url %>

          <span class=" radius label"><%= t(:address) %></span>
          <%= f.text_field :address %>
          
          <p style="text-align: center"><%= f.submit "Save", :class=>"button" %></p>
          
        <% end %>
      </div>
    </div>
  </div>
</div>