<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
			<li><%= link_to "Home" , backoffice_stats_path %></li>
	  		<li class="current"><a href="#">Companies</a></li>
		</ul>
	</div>
</div>
<!-- Main Grid Section -->

<div class="row">
	<div class="twelve columns">
	<div class="row">
		<div class="four columns">
			<dl class="tabs pill">
				<% if params[:order] == "DESC" %>
					<dd><%= link_to "A-Z", backoffice_companies_path(params.merge({order: "ASC"})) %> </dd>
					<dd class="active"><%= link_to "Z-A", backoffice_companies_path(params.merge({order: "DESC"})  )%> </dd>
				<% else %>
					<dd class="active"><%= link_to "A-Z", backoffice_companies_path(params.merge({order: "ASC"})) %> </dd>
					<dd><%= link_to "Z-A", backoffice_companies_path(params.merge({order: "DESC"})  )%> </dd>
				<% end %>
			</dl>
		</div>
		<div class="four columns">
			<dl class="sub-nav">
		  		<dt>Filter:</dt>
		  		
		  		<% if params[:state].blank? 
		  			x="active" 
		  		else 
		  			x="" 
		  		end %>
		  		<dd class=<%= x %> ><%= link_to t(:all), backoffice_companies_path(params.merge({state: ""})  )%></dd>
		  		
		  		<% if params[:state] == COMPANY_STATE[:active].to_s 
		  			x="active"
		  		else 
		  			x=""  
		  		end %>
		  		<dd class=<%= x %> ><%= link_to t(:active), backoffice_companies_path(params.merge({state: COMPANY_STATE[:active]})  )%></dd>
		  		
		  		<% if params[:state] == COMPANY_STATE[:blocked].to_s 
		  			x="active" 
		  		else 
		  			x=""  
		  		end %>
		  		<dd class=<%= x %> ><%= link_to t(:blocked), backoffice_companies_path(params.merge({state: COMPANY_STATE[:blocked]})  )%></dd>
			</dl>
		</div>
		<div class="four columns">
			<div class="row collapse">
			<%= form_tag backoffice_companies_path, :method => 'get' do %>
  			<div class="eight mobile-three columns">
    				<%= text_field_tag :search, params[:search] %>
  			</div>
  			<div class="four mobile-one columns">
   				 	<%= submit_tag "Search", :name => nil, :class=>"button expand postfix" %>
  			</div>
			<% end %>
		</div>
		</div>
	</div>
	<br/>
	<table class="twelve">
		<thead>
		    <tr>
		      <th>Name</th>
		      <th>SLUG</th>
		      <th>NIF</th>
		      <th>Status</th>
		      <th>Actions</th>
		    </tr>
		</thead>
		<tbody>
			<% @companies.each do |company| %>
				<tr>
					<td><%= link_to company.name, backoffice_company_path(company) %></td>
					<td><%= link_to "rasohr.com/companies/"+company.slug, backoffice_company_path(company.slug) %></td>
					<td><%= company.nif %></td>
					<td>
						<% if company.state == COMPANY_STATE[:active] %>
							<span style="color:green;"> <%= t(:active)%> </span>
						<% elsif company.state == COMPANY_STATE[:blocked] %>
							<span style="color:red;"><%= t(:blocked)%></span>
						<% elsif company.state == COMPANY_STATE[:unchecked] %>
							<span style="color:orange;"><%= t(:unchecked)%></span>
						<%end%> 
					</td>
					<td> 
						<%= link_to t(:edit), edit_backoffice_company_path(company), :class=>"secondary radius label" %>
						<% if company.state == COMPANY_STATE[:active] %>
							<%= link_to t(:block), block_company_path(company), :method=>:put, :class=>"alert label radius" %>
						<% else company.state == COMPANY_STATE[:blocked] %>
							<%= link_to t(:activate), activate_company_path(company), :method=>:put, :class=>"label radius" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
		
		<ul class="pagination">
		  <%= will_paginate @companies, :previous_label=>"&laquo", :next_label=>"&raquo", :inner_window=>"4", :outer_window=>"4" %>
		</ul>
	</div>
</div>


