<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
	  		<li><a href="#">Companies</a></li>
	  		<li class="current"><a href="#"><%= @company.name %></a></li>
		</ul>
	</div>
</div>

<div class="row">
	
	<!-- Right Column -->
	<div class="nine columns push-three details_company">
		<div class="row">
					<div class="row">
			<div class="twelve columns">
				<!-- Header Content -->
				<div class="row">
					<div class="four columns" style="padding-bottom:20px">
						<a href="#" class="th"><img src="http://placehold.it/250x250" alt="Foto da empresa"></a>
					</div>
		          	
		          	<div class="eight columns">
		            	<h3 class="show-for-small"><%= @company.name %><hr/></h3>
		            	<div class="panel details">
		              		<h4 class="hide-for-small"><%= @company.name %>
		              			<%= link_to "Edit", edit_backoffice_company_path(@company), :class=>"radius label" %>
		              			<hr/>
		              		</h4>
		            		<h5>Details</h5>
			            	<p><span class="label radius">Company Name</span> <%= @company.name %></p>
			            	<p><span class="label radius">NIF</span> <%= @company.nif %></p>
			            	<p><span class="label radius">SLUG</span> <a href="#"> <%= @company.tag+".rasohr.com" %></a></p>
			            	<p><span class="label radius">Employees</span> <%= @company.users.length-1 %></p>
		            	</div>
					</div>
		        </div>
		        <!-- End Header Content -->
		    	<!-- Table Content -->
				<div class="row">
					<div class="twelve columns">
					    <table class="twelve">
							  <thead>
							    <tr>
									<th>Cod</th>
									<th>Issued Date</th>
									<th>Payment Date</th>
									<th>Ammount</th>
									<th>State</th>
									<th>Actions</th>
								</tr>
							    </tr>
							  </thead>
							  <tbody>
								<% @bills.each do |bill| %>
									<tr>
										<td><%= bill.id %></td>
										<td><%= bill.created_at %></td>
										<td><%= bill.payment_date %></td>
										<td><%= bill.value %></td>
										<td><%= bill.state %></td>
										<td>Action</td>
									</tr>
								<% end %>
							  </tbody>
						</table>
						<!-- End Table Content -->
					</div>
		  		</div>
			</div>
		</div>
		</div>
	</div>
	<!-- End Right Column -->
	<!-- Left Column -->
	<div class="three columns pull-nine">
		<div class="row collapse">
  			<div class="eight mobile-three columns">
    			<input type="text" />
  			</div>
  			<div class="four mobile-one columns">
    			<a class="button expand postfix">Search</a>
  			</div>
		</div>
			<table class="twelve">
				<thead>
				    <tr>
				      	<th>
				      		Companies 
					      	<span class="secondary radius label">
					      		<%= link_to "A-Z", backoffice_company_path(@company, params.merge({order: "ASC"})) %>
					      	</span>
					      	<span class="secondary radius label">
					      		<%= link_to "Z-A", backoffice_company_path(@company, params.merge({order: "DESC"})) %>
					      	</span>
						</th>
				    </tr>
				  </thead>
				<tbody>
					<% @companies.each do |company| %>
						<tr>
							<td><%= link_to company.name, backoffice_company_path(company) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @companies %>

		<!--	<%= render :partial => 'name_list' if super_user_signed_in? %> -->

		  </tbody>
		</table>
		<ul class="pagination">
		  <li class="arrow unavailable"><a href="">&laquo;</a></li>
		  <li class="current"><a href="">1</a></li>
		  <li><a href="">2</a></li>
		  <li class="unavailable"><a href="">&hellip;</a></li>
		  <li><a href="">12</a></li>
		  <li><a href="">13</a></li>
		  <li class="arrow"><a href="">&raquo;</a></li>
		</ul>
    </div>
    <!-- End Left Column -->
</div>
