<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
	  		<li><a href="#">Companies</a></li>
	  		<li class="current"><a href="#"><%= @company.name %></a></li>
		</ul>
	</div>
</div>

<div class="row">
	
	<!-- Right Column -->
	<div class="nine columns push-three details_company">
		<div class="row">
					<div class="row">
			<div class="twelve columns">
				<!-- Header Content -->
				<div class="row">
					<div class="four columns" style="padding-bottom:20px">
						<img src="<%=@company.logo_url %>" alt="Foto da empresa" class="company_image" style="width:100%;">
					</div>
		          	
		          	<div class="eight columns">
		            	<h3 class="show-for-small"><%= @company.name %><hr/></h3>
		            	<div class="panel details">
		              		<h4 class="hide-for-small"><%= @company.name %>
		              			<%= link_to "Edit", edit_backoffice_company_path(@company), :class=>"radius label" %>
		              			<hr/>
		              		</h4>
		            		<h5>Details</h5>
			            	<p><span class="label radius">Company Name</span> <%= @company.name %></p>
			            	<p><span class="label radius">NIF</span> <%= @company.nif %></p>
			            	<p><span class="label radius">Address</span> <%= @company.address %></p>
			            	<p><span class="label radius">SLUG</span> <a href="#"> <%= "rasohr.com/companies/"+@company.slug %></a></p>
			            	<p><span class="label radius">Employees</span> <%= @company.users.length-1 %></p>
		            	</div>
					</div>
		        </div>
		        <!-- End Header Content -->
		    	<!-- Table Content -->
				<div class="row">
					<div class="twelve columns">
					    <% if @bills.any? && manager_signed_in?(@company.tag) %>
					    	<%= render :partial => "rasocomp/bills/list" %>
					    <% end %>
						<!-- End Table Content -->
					</div>
		  		</div>
			</div>
		</div>
		</div>
	</div>
	<!-- End Right Column -->
	<!-- Left Column -->
	<div class="three columns pull-nine">
		<div class="row collapse">
			<%= form_tag backoffice_company_path(@company), :method => 'get' do %>
  			<div class="seven mobile-three columns">
    				<%= text_field_tag :search, params[:search] %>
  			</div>
  			<div class="five mobile-one columns">
   				 	<%= submit_tag "Search", :name => nil, :class=>"button expand postfix" %>
  			</div>
			<% end %>
		</div>
			<table class="twelve">
				<thead>
				    <tr>
				      	<th>
				      		Companies 
					      	<span class="secondary radius label">
					      		<%= link_to "A-Z", backoffice_company_path(@company, params.merge({order: "ASC"})) %>
					      	</span>
					      	<span class="secondary radius label">
					      		<%= link_to "Z-A", backoffice_company_path(@company, params.merge({order: "DESC"})) %>
					      	</span>
						</th>
				    </tr>
				  </thead>
				<tbody>
					<% @companies.each do |company| %>
						<tr>
							<td><%= link_to company.name, backoffice_company_path(company) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @companies %>

		  </tbody>
		</table>
    </div>
    <!-- End Left Column -->
</div>
