<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to 'Home', user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:timeoffs) %></a>
        </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
  	<div class="row">
	  	<div class="ten columns">
			<h2>Time Offs  <span class="radius label" style="margin-left: 10px">Remaining days</span> <span class="secondary radius label"><%= @user.time_off_days %></span></h2>
	  	</div>
	  	<div class="two columns" style="margin-top: 15px; text-align: right">
			<%= link_to 'Book', new_company_user_time_off_path( @company, @user), :class=> "radius button" %><br>

	  	</div>
	  </div>
  </div>
  	<div class="twelve columns">
  		<div class="panel">
			<div>
		  		<table class="twelve">
		  			<thead>
		  				<th><%= t(:start_day) %></th>
		  				<th><%= t(:days) %></th>
		  				<th><%= t(:type) %></th>
		  				<th><%= t(:end_day) %></th>
		  				<th><%= t(:state) %></th>
		  				<th><%= t(:description) %></th>
		  				<th><%= t(:actions) %></th>
		  			</thead>
		          <tbody>
		          	<% @timeoffs.each do |t| %>
			            <tr>
			              <td><%= t.start_at %></td>
			              <td><%= t.days %></td>
			              <td><%= t.category %></td>
			              <td><%= t.end_at %></td>
			              <td><%= t.state %></td>
			              <td><%= t.description %></td>
			              <td><%= link_to "cancel", [@company, @user, t], :class=>"radius label",:method => :delete, :data => { :confirm => 'Confirmation Box'} %></td>
			            </tr>
		        	<% end %>

		          </tbody>
		        </table>
			</div>
		</div>
  	</div>
</div>