<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home) , user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:timeoffs)%></a>
        </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
  	<div class="row">
	  	<div class="ten columns">
			<h2><%= t(:timeoffs) %> <span class="radius label" style="margin-left: 10px"><%=t(:remaining_days)%></span> <span class="secondary radius label"><%= @user.time_off_days %></span></h2>
	  	</div>
	  	<div class="two columns" style="margin-top: 15px; text-align: right">
			<%= link_to t(:book), new_company_user_time_off_path( @company, @user), :class=> "radius button" %><br>

	  	</div>
	  </div>
  </div>
  	<div class="twelve columns">
  		<div class="panel">
			<div>
				<% if @timeoffs.any? %>
			  		<table class="twelve">
			  			<thead>
			  				<th style="text-align: center"><%= t(:start_day) %></th>
							<th style="text-align: center"><%= t(:end_day) %></th>
			  				<th style="text-align: center"><%= t(:days) %></th>
			  				<th style="text-align: center"><%= t(:type) %></th>
			  				<th style="text-align: center"><%= t(:state) %></th>
			  				<th style="text-align: center"><%= t(:description) %></th>
			  				<th style="text-align: center"><%= t(:actions) %></th>
			  			</thead>
			          <tbody>
			          	<% @timeoffs.each do |t| %>
							<tr>
								<td style="text-align: center"><%= t.start_at %></td>
								<td style="text-align: center"><%= t.end_at %></td>
								<td style="text-align: center"><%= t.total_credits %></td>
								<% if t.category == TIMETYPE[:holiday] %>
									<td style="color:brown; text-align: center"><%= t(:holidays)  %></td>
								<% else ( 
								if t.category == TIMETYPE[:sick] %>
									<td style="color:purple; text-align: center"><%= t(:sick)  %></td>
								<%end)%>
								<% end %>
								<% if t.state == TIMEOFF[:pending] %>
									<td style="color:orange; text-align: center"><%= t(:pending)  %></td>
								<% else ( 
									if t.state == TIMEOFF[:approved] %>
										<td style="color:green; text-align: center"><%= t(:approved)  %></td>
									<%else( 
										if t.state == TIMEOFF[:disapproved]%>
											<td style="color:red; text-align: center"><%= t(:disapproved)  %></td>
										<%end)%>
									<%end)%>
								<% end %>
								<td><%= t.description %></td>
								<td style="text-align: center"><%= link_to_if t.state == 0, t(:cancel), [@company, @user, t], :class=>"radius label",:method => :delete, :data => { :confirm => t(:cancel_message)} %></td>
				            </tr>
			        	<% end %>
			          </tbody>
			        </table>
		        <% else %>
            		<h3 style="text-align:center">There are no timeoffs registered</h3>
		        <% end %>
			</div>
		</div>
  	</div>
</div>