<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to 'Home', user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:timeoffs) %></a>
        </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
  	<div class="row">
	  	<div class="ten columns">
			<h2>Time Offs  <span class="radius label" style="margin-left: 10px">Remaining days</span> <span class="secondary radius label"><%= @user.time_off_days %></span></h2>
	  	</div>
	  	<div class="two columns" style="margin-top: 15px; text-align: right">
			<%= link_to 'Book', new_company_user_time_off_path( @company, @user), :class=> "radius button" %><br>

	  	</div>
	  </div>
  </div>
  	<div class="twelve columns">
  		<div class="panel">
			<% @timeoffs.each do |t| %>
				<div class="right" style="padding-bottom: 10px">
				<%= link_to "cancel", [@company, @user, t], :class=>"radius label",:method => :delete, :data => { :confirm => 'Confirmation Box'} %>
				</div>
				<div>
			  		<table class="twelve">
			  			<thead>
			  			</thead>
			          <tbody>
			            <tr>

			              <td style="text-align: right"><span class="label radius"><%= t(:start_day) %></span></td>
			              <td><%= t.start_at %></td>
			              <td style="text-align: right"><span class="label radius"><%= t(:days) %></span></td>
			              <td><%= t.days %></td>
			              <td style="text-align: right"><span class="label radius"><%= t(:type) %></span></td>
			              <td><%= t.category %></td>
			            </tr>
			            <tr>
			              <td style="text-align: right"><span class="label radius"><%= t(:end_day) %></span></td>
			              <td><%= t.end_at %></td>
			              <td style="text-align: right"><span class="label radius"><%= t(:state) %></span></td>
			              <td><%= t.state %></td>
			              <td style="text-align: right"><span class="label radius"><%= t(:description) %></span></td>
			              <td><%= t.description %></td>
			            </tr>
			          </tbody>
			        </table>
				</div>
		    <% end %>
	</div>
  	</div>

</div>