<div style="height: 100px">


</div>

<div class="six columns">
<p><%= link_to image_tag('logo.png'), '/'%></p>
<div class="panel">
<h3> About the company </h3>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean est quam, viverra id iaculis eget, imperdiet non urna. Duis sed sapien a leo dictum tristique id ac ipsum. Integer quis diam tellus, nec malesuada arcu. Vivamus commodo ipsum elit, vel gravida nibh. Pellentesque adipiscing neque eu velit ultrices fringilla. </p>
</div>
</div>


<div class="six columns">
	<div class="panel">
      <h5>Welcome to Raso</h5>
      <p>This is you company login page</p>
		<hr />		
			<%= form_for(:user_session, url: company_user_sessions_path) do |f| %>
			  
			  <%= f.label :email %>
			  <%= f.text_field :email, :required => true %>

			  <%= f.label :password %>
			  <%= f.password_field :password, :required => true %>

			  <p style="text-align: center"><%= f.submit 'Sign In', :class => "button" %></p>

			<% end %>
    </div>
</div>






