<h1>TRAININGS#MANAGE</h1>
		<% @trainings.each do |t| %>
		  Training id: <%= t.id %>;
		  Name: <%= t.name %>;
		  Desc: <%= t.desc %>;
		  <%= link_to 'start a course', new_company_training_course_path( @company, t) %><br>
		  <%= render :partial => "/rasocomp/courses/manage", :locals => {:courses => t.courses, :training => t} %> 
		  <br/>
		<% end %>