<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home), user_dashboard_path(@company.slug, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:trainings) %></a>
        </li>
    </ul>
  </div>
</div>

<div class="row">
		<div class="four columns">
			<h2><%= t(:trainings) %></h2>
		</div>
		<div class="eight columns ">
			<%= link_to t(:new_training), new_company_training_path( @company, params[:id]), :class=>"radius button right" %>
		</div>
</div>


<div class="row">
  	<div class="twelve columns">
  		<table class="twelve">
			<thead>
				<tr>
					<th style="text-align: center"><%= t(:trainings) %></th>
					<th style="text-align: center"><%= t(:actions) %></th>
				</tr>
			</thead>
			<tbody>
	   		<% @trainings.each do |t| %>
			   	<tr>
			    	<td>
						<%= link_to t.name, training_courses_manage_path( @company, t)%>
					</td>
					<td>
						<%= link_to 'Start a Course', new_company_training_course_path( @company, t) %><br>
						
					</td>
				</tr>

			<% end %>
		</tbody>

	</table>

	</div>
</div>


