<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home), user_dashboard_path(@company.slug, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:trainings) %></a>
        </li>
    </ul>
  </div>
</div>

<div class="row">
	<div class="twelve columns ">
		<h2><%= t(:trainings) %></h2>
	</div>
</div>
<div class="row">
	<div class="twelve columns" style="margin-bottom: 20px;">
		<%= link_to t(:new_training), new_company_training_path( @company, params[:id]), :class=>"radius button right" %>
	</div>
</div>


<div class="row">
  	<div class="twelve columns">
  		<% if @trainings.any? %>
	  		<table class="twelve">
				<thead>
					<tr>
						<th style="text-align: center"><%= t(:trainings) %></th>
						<th style="text-align: center"><%= t(:actions) %></th>
					</tr>
				</thead>
				<tbody>
			   		<% @trainings.each do |t| %>
					   	<tr>
					    	<td>
								<%= link_to t.name, training_courses_manage_path( @company, t)%>
							</td>
							<td style="text-align: center">
								<ul class="jobs_links">
									<li><%= link_to t(:start_course), new_company_training_course_path( @company, t), :class =>"radius label" %> </li>
									<li><%= link_to t(:delete_training), company_training_path(@company, t), :method => :delete, :class =>"radius alert label" %></li>
								</ul>	
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<%else%>
			<div class="panel">
		   		<h3 style="text-align:center"> <%= t(:no_trainings_available) %></h3>
			</div>
		<%end%>
	</div>
</div>


