<% @bills.each do |bill| %>
  <p> 
    ID: <%= bill.id %>; 
    Value: <%= bill.value %>; 
    State: <%= bill.state %>; 
    Created: <%= bill.created_at %>; 
    Payment Date: <%= bill.payment_date %>; 
    Link: <%= link_to "View", company_bill_path(bill.company_id, bill) %>
  </p>
<% end %>