<h1> Show Bill </h1>
<p> ID: <%= @bill.id %> </p>
<p> Value: <%= @bill.value %> </p>
<p> State: <%= @bill.state %> </p>
<p> Created: <%= @bill.created_at %> </p>
<p> Payment Date: <%= @bill.payment_date %> </p>