<h3>COURSES#INDEX | <%= courses.count %> </h3>
		<% courses.each do |c| %>
		  ID: <%= c.id %>;
		  Lecturer: <%= c.lecturer %>;
		  Start: <%= c.start_at %>;
		  End: <%= c.end_at %>;
		  Cate: <%= c.category %>;
		  State: <%= c.state %>;
		  Invited: <%= c.users.count %>;
          Enrolled: <%= enrolled %>;
		  <%= link_to 'enroll', enroll_company_training_course_path( company.id, training.id, c.id), :method => :put %>
		  | <%= link_to 'unenroll', unenroll_company_training_course_path( company.id, training.id, c.id) %>
		  <br/>
		<% end %>