<h1>COURSES#EDIT</h1>
<%= form_for [@company, @training, @course] do |f| %>
<%= f.label :lecturer %>
<%= f.text_field :lecturer %>
<%= f.submit %>
<% end %>
<%= @users_to_add %>
<% if @course.category == 2 %>
  <%= form_tag :controller => 'courses', :action => 'update_users' do %>
    <%= hidden_field_tag '_method', 'put' %>
    <%= label_tag "SOME LABEL" %> <br>
    <%= select_tag "users", options_from_collection_for_select(@users, "id", "name"), :multiple => true%>
    <%= submit_tag "Update"%>  
  <% end %>
<% end %>