<h1>COURSES#INDEX</h1>
		<% @courses.each do |c| %>
		  ID: <%= c.id %>;
		  Lecturer: <%= c.lecturer %>;
		  Start: <%= c.start_at %>;
		  End: <%= c.end_at %>;
		  Cate: <%= c.category %>;
		  State: <%= c.state %>;
		  <%= link_to 'activate', activate_company_training_course_path( @company, @trainings, c), :method => :put %>
		  | <%= link_to 'add user', '#' %>
		  | <%= link_to 'remove', [@company, @trainings, c], :method => :delete%>
		  | <%= link_to 'cancel', '#' %>
		  | <%= link_to 'edit', '#' %><br>
		  <br/>
		<% end %>