<h1>COURSES#NEW</h1>
<%= form_for [@company, @training, @course] do |f| %>
  <% @training.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <%= f.label :lecturer %>
  <%= f.text_field :lecturer %>
  <%= f.label :start_at %>
  <%= f.text_field :start_at %>
  <%= f.label :end_at %>
  <%= f.text_field :end_at %>
  <%= f.select :category, [["PUBLIC", 1],["PRIVATE", 2]] %>
  <%= f.submit %>
<% end %>