<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home), user_dashboard_path(@company.slug, current_user(@company.slug)) %></li>
        <li>
      <%= link_to t(:trainings), manage_company_trainings_path(@company) %>
        </li>
        <li class="current">
          <a href="#"><%= @training.name %></a>
        </li>
        <li class="current">
          <a href="#"><%= t(:new_course) %></a>
        </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
        <% content_for :javascript_includes do %>
          <%= javascript_include_tag "new_course.js" %>
        <% end %>
        <h1><%= t(:new_course) %></h1>
        <hr/>
        <%= form_for [@company, @training, @course] do |f| %>
          <% @training.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
          <%= f.label t(:name), :class => "radius label" %>
          <%= f.text_field :name, :class=>"input_space" %>
          <%= f.label t(:lecturer), :class => "radius label" %>
          <%= f.text_field :lecturer, :class=>"input_space" %>
          <%= f.label t(:start_day), :class => "radius label" %>
          <%= f.text_field :start_at, :placeholder => 'dd-mm-yyyy', :class=>"input_space"%>
          <%= f.label t(:end_day), :class => "radius label" %>
          <%= f.text_field :end_at, :placeholder => 'dd-mm-yyyy', :class=>"input_space"%>
          <%= f.select :category, [[t(:public), 1],[t(:private), 2]] %>
           <p style="text-align: center"><%= f.submit t(:submit), :class=>"button input_space" %></p>
        <% end %>

  </div>
</div>
  </div>
</div>
