<div class="row dashboard">
<!-- ::::::::::::::::::::::::: LEFT SIDE ::::::::::::::::::::::::::::: -->
	<div class="eight columns">
		<div class="row">
			<div class="ten columns">
				<h3>Hi <%= @user.name %>! </h3>
			</div>
			<div class="two columns">
				<%= link_to "Edit", 
					edit_company_user_path(@company, @user), 
					:class=>"small radius button add_user" %>
			</div>
			<hr/>
		</div>
	<!-- ########################### PROFILE TAB ############################ -->
	 	<div class="row">
	 		<div class="twelve columns">
			 	<div class="panel">
			  		<table class="twelve tableJobs">
			          <tbody>
			            <tr>
			              <td><span class="label radius"><%= t(:name) %></span></td>
			              <td><%= @user.name %></td>
			            </tr>
			            <tr>
			              <td><span class="label radius"><%= t(:Email) %></span></td>
			              <td><%= @user.email %></td>
			            </tr>
			            <tr>
			              <td><span class="label radius"><%= t(:Role) %></span></td>
			              <td><%= ROLE.invert[@user.role] %></td>
			            </tr>
			          </tbody>
			        </table>
			    </div>
			</div>
	  	</div>


	<!-- ########################### CONTRACT TAB ################################ -->
		<div class="row">
			<div class="twelve columns">
				<h4> Contracts </h4>
				<div class="row">
					<div class="twelve columns">
						<div class="panel">
						  	<% if !@contract.nil? %>
								<h3 class="hide-for-small"><%= @contract.job_title %>
				          			<% if current_user(@company.slug).role <= ROLE[:manager] %>
				          				<span class="secondary label radius"><%= link_to "Edit", edit_company_user_contract_path(@company,@user,@contract) %></span>
				          			<% end %>
				          		</h3>
							  	<hr/>
							  	<p><span class=" radius label">Begin Date</span><span> <%= @contract.start_date %> </span></p>
							  	<p><span class=" radius label">End Date</span><span> <%= @contract.end_date %> </span></p>
							  	<p><span class=" radius label">Value</span><span> <%= @contract.value %> </span></p>

							  	<br/>

							  	<% if @contracts.any? %>
							  		<h5> Previous Contracts </h5>
							  		<%= render :partial => "rasocomp/contracts/list" %>
							  	<% else %>
							  		<h5> No previous contracts found</h5>
							  	<% end %>
							<% else %>
								<h5> No contracts found</h5>
							<% end %>
							<% if current_user(@company.slug).role <= ROLE[:manager] %>
							<div>
								<p style="text-align: center"><%= link_to "Add Contract", new_company_user_contract_path( @company, @user), :class=>"radius button " %></p>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- ####################### DASHBOARD TAB ########################### -->
		
		<div class="row">
			<div class="four columns">
				<div class="panel" style="text-align: center">
					<h4> Time Offs </h4>
					<%= link_to "Check & Book", 
						company_user_time_offs_path(@company, @user), 
						:class=>"radius button" %>
				</div>
			</div>
			<div class="four columns">
				<div class="panel" style="text-align: center">
					<h4> Trainings </h4>
					<%= link_to "Check & Book", 
						company_trainings_path(@company), 
						:class=>"radius button" %>
				</div>
			</div>
			<div class="four columns">
		        <div class="panel" style="text-align: center">
		            <h4> Evaluations </h4>
		            <%= link_to "Check & Evaluate", 
		            	company_evaluations_path(@company), 
		            	:class=>"radius button" %>
		         </div>
		    </div>
		</div>
	</div>


<!-- ::::::::::::::::::::::::: RIGHT SIDE ::::::::::::::::::::::::::::: -->
	<div class="four columns">
		<div class="twelve columns" style="padding-bottom:20px">
			<div class="panel">
				<div id="imagem">
           			<%= image_tag @user.attach.url %>
				</div>
			</div>
		</div>
<!-- 		<div class="twelve columns" style="padding-bottom:20px">
			<div class="panel">
		    	<h5>Formações</h5>
			</div>
	    </div> -->
		<div class="twelve columns" style="padding-bottom:20px">
			<div class="panel" id="calendario">
		    	<h5>Calendário</h5>
		    	<div id="datepicker"></div>
		    </div>
	    </div>
	</div>
</div>


<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>