<div class="row">
  <div class="three columns push-nine">

      <div class="twelve columns" style="padding-bottom:20px">
        <a href="#" class="th"><%= image_tag @user.attach.url %></a>
      </div>

</div> 
  <!-- Cena Grande -->
  <div class="nine columns pull-three">
    <div class="row">
      <div class="twelve columns">
        <ul class="breadcrumbs">
          <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
          <li class="current">
            <a><%= @user.name %></a>
          </li>
          <li class="current">
            <a><%= t(:edit_user) %></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="signup">
      <div class="panel">
          <div class="row">
          <div class="eight columns">
            <h3> Edit User Profile  </h3>
          </div>
          <% if current_user(@company.slug) == @user %>
            <div class="four columns">
              <%= link_to t(:change_password), edit_password_company_user_path(@company,@user), :class=>"radius button right add_user" %>
            </div>
          <% end %>
          <div class="twelve columns">
          <hr/>

            <%= form_for [@company, @user], :html => { :multipart => true } do |f| %>

              <% if @user.errors.any? %> <span class=" radius label">Error Messages</span>
                <hr/>
              <% end %>
              <% @user.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
              <% end %>

              <span class=" radius label"><%= t(:name) %></span>
              <%= f.text_field :name, :class=>"input_space"  %>

              <span class=" radius label"><%= t(:photo) %></span><br>
              <%= f.file_field :attach, :class=>"input_space" %><br><br>
          
              <% if current_user(@company.slug).role == ROLE[:manager] %>
                <span class=" radius label"><%= t(:time_off_days) %></span>
                <%= f.text_field :time_off_days, :class=>"input_space"  %>
              <% end %>

              <p style="text-align: center">
                <%= f.submit 'Save!', :class => "button" %>
              </p>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


