<div class="row dashboard">
  <div class="eight columns">
    <div class="signup">
      <div class="panel">
        <h3><%= t(:edit_password)%></h3>
        <hr/>  
            <% if @user.errors.any? %> <span class=" radius label"><%= t(:error_messages) %></span>
            <hr/>
            <% end %>
            <% @user.errors.full_messages.each do |msg| %>
              <p><%= msg %></p>
            <% end %>

          <%= form_for :change_password, :url => update_password_company_user_path(@company,@user) do |f| %>

            <%= f.label t(:current_password), :class=>"radius label"%>
            <%= f.password_field :current_password, :class=>"input_space" %>

            <%= f.label t(:new_password), :class=>"radius label"%>
            <%= f.password_field :new_password, :class=>"input_space" %>

            <%= f.label t(:new_password_confirmation), :class=>"radius label"%>
            <%= f.password_field :new_password_confirmation, :class=>"input_space" %>
        
            <p style="text-align: center">
              <%= f.submit t(:save), :class => "button" %>
            </p>
          <% end %>
        </div>
      </div>
  </div>
    <div class="four columns">
    <div class="twelve columns" style="padding-bottom:20px">
      <div class="panel">
        <div id="imagem">
          <%= image_tag @user.attach.url %>
        </div>
      </div>
    </div>
  </div>
</div>


