<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
    	<li><%= link_to 'Home', user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:employees) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
		<div class="nine columns">
			<h3>Employees</h3>
		</div>
		<div class="three columns">
			<%= link_to "Add User", new_company_user_path( @company, params[:id]), :class=>"radius button right add_user" %>
		</div>
</div>

<div class="row">

	<div class="twelve columns">
		<!-- Listagem -->
		<div class="panel">
			<div class="row">
				<div class="twelve columns">
					<table class="twelve tableJobs">
						<thead>
							<tr>
								<th>Cod.</th>
								<th>Name</th>
								<th>E-Mail</th>
								<th>Role</th>
								<!-- <th>Profile</th> -->
								<!--<th>Status</th>-->
							</tr>
						</thead>
						<tbody>
							<% @users.each do |u| %>
								<tr>
							    	<td><%= u.id %></td>
							    	<% if current_user(@company.slug).role == ROLE[:manager] %>
							      		<td><%= link_to u.name, company_user_path(u.company_id, u) %></td>
							      	<% else %>
							      		<td><%= u.name %></td>
							      	<% end %>
							      	<td><%= u.email %></td>
							 
							      	<td><%= t(ROLE.invert[u.role]) %></td>
							      	<!-- <td><%= link_to "Profile", company_user_path(u.company_id, u) %> </td> -->

							      	<!-- <td>
							      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
							      	</td> -->
							    </tr>
  <br/>
<% end %>




						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="eight columns">
					<%= will_paginate @users %>
				</div>

				<div class="four columns">
					<div class="row collapse">
						<%= form_tag company_users_path, :method => 'get' do %>
			  			<div class="eight mobile-three columns">
			    				<%= text_field_tag :search, params[:search] %>
			  			</div>
			  			<div class="four mobile-one columns">
			   				 	<%= submit_tag "Search", :name => nil, :class=>"button expand postfix" %>
			  			</div>
						<% end %>
					</div>
				</div>


			</div>	
		</div>
			<!-- Fim Lisslugem -->
	</div>
</div>