<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
    	<li><%= link_to 'Home', user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:employees) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
		<div class="six columns">
			<h3>Employees</h3>
		</div>
		<div class="six columns">
			<a class="radius button right add_user" id="update_credits">Edit user credits</a>
			<%= link_to "Add User", new_company_user_path( @company, params[:id]), :class=>"radius button right add_user" %>
		</div>
		<div class="three columns">
			<%= link_to 'Import Users', fst_step_importsingle_index_path(:companyid => @company.id, :model => request.path), :class=>"radius button right add_user" %>
		</div>
</div>

<div id="credits_dialog" class="reveal-modal small">
    <%= form_tag update_credits_to_all_path(@company), :method => :put do %>
		<%= label_tag(:time_off_days, "Number of credits") %>
		<%= number_field_tag(:time_off_days,nil,:required => :true) %>
        
		<p style="text-align: center">
		<%= submit_tag('Confirm', :class => "button") %>
		</p>
  	<% end %>
</div>

<div class="row">
	<div class="twelve columns">
		<div class="panel">
			<div class="row">
				<div class="twelve columns">
					<table class="twelve">
						<thead>
							<tr>
								<th style="text-align: center">Name</th>
								<th style="text-align: center">E-Mail</th>
								<th style="text-align: center">Role</th>
								<th style="text-align: center">Status</th>
								<th style="text-align: center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |u| %>
								<tr>
							    	<% if current_user(@company.slug).role == ROLE[:manager] %>
							      		<td><%= link_to u.name, company_user_path(u.company_id, u) %></td>
							      	<% else %>
							      		<td><%= u.name %></td>
							      	<% end %>
							      	<td style="text-align: center;"><%= u.email %></td>
							 
							      	<td style="text-align: center;"><%= t(ROLE.invert[u.role]) %></td>

							    	<% if u.state == STATE[:unchecked] %>
							      		<td style="color:red; text-align: center"><%= t(:unchecked)  %></td>
							      	<% else ( 
							      		if u.state == STATE[:inactive] %>
							      			<td style="color:orange; text-align: center"><%= t(:inactive)  %></td>
							      		<%else( 
							      			if u.state == STATE[:active]%>
							      				<td style="color:green; text-align: center"><%= t(:active)  %></td>
							      			<%end)%>
							      		<%end)%>
							      	<% end %>

							      	<td>
												<% if u.state == STATE[:active] %>
													<%= link_to t(:block), block_company_path(u), :method=>:put, :class=>"alert label radius" %>
												<% else u.state == COMPANY_STATE[:inactive] %>
													<%= link_to t(:activate), activate_company_path(u), :method=>:put, :class=>"label radius" %>
												<% end %>
											</td>


							      	<!-- <td>
							      		<form class="custom" style="margin:0;"><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span></label></form>
							      	</td> -->
							    </tr>
							<% end %>




						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="eight columns">
					<%= will_paginate @users, :previous_label=>"&laquo", :next_label=>"&raquo", :inner_window=>"4", :outer_window=>"4" %>
				</div>

				<div class="four columns">
					<div class="row collapse">
						<%= form_tag company_users_path, :method => 'get' do %>
			  			<div class="eight mobile-three columns">
			    				<%= text_field_tag :search, params[:search] %>
			  			</div>
			  			<div class="four mobile-one columns">
			   				 	<%= submit_tag "Search", :name => nil, :class=>"button expand postfix" %>
			  			</div>
						<% end %>
					</div>
				</div>


			</div>	
		</div>
			<!-- Fim Lisslugem -->
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("#update_credits").click(function() {
		$( "#credits_dialog" ).reveal();
	});
});
</script>
