<p>Verify Account</p>
<%= form_for [@company, @user], :url => activate_company_user_path(@company, @user) do |f| %>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>
<% end %>
