<!--Main Page Content and Sidebar -->

  <div class="row">

    <!-- Contact Details -->
    <div class="nine columns">

      <h3>Meet the Team!</h3>
      <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>

      <dl class="contained tabs">
        <dd class="active"><a href="#business">Business</a></dd>
        <dd><a href="#design">Design</a></dd>
        <dd><a href="#development">Development</a></dd>
        <dd><a href="#documentation">Documentation</a></dd>
      </dl>

      <ul class="tabs-content contained">
        
        <li id="businessTab"  class="active">
          <ul class="block-grid five-up">
            <li class="boxes boxes-third">                
                <%= image_tag ('team/team_pedro.jpg') %>
                <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
                <a href="#">Pedro Reis</a>
                <span class="secondary label radius">Team Leader</span>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_dany.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Dany Silva</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_nuno.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Nuno Fernandes</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_diogo.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Diogo Cunha</a>
            </li>
          </ul>
        </li>

        <li id="designTab">
          <ul class="block-grid five-up">
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_hugo.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Hugo Frade</a>
              <span class="secondary label radius">Team Leader</span>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_andre.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">André Silva</a>
            </li>
          </ul>
        </li>

        <li id="developmentTab">
          <ul class="block-grid five-up">
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_joao.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">João Melo</a>
              <span class="secondary label radius">Team Leader</span>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_carlos.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Carlos Gonçalves</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_claudio.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Claúdio Lourenço</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_filipe.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Filipe Liu</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_cunha.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">João Cunha</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_vitor.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Vitor Costa</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_tiago.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Tiago Gomes</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_samuel.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Samuel Almeida</a><br/>
              <span class="secondary label radius">Tester</span>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_felix.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">André Felix</a><br/>
              <span class="secondary label radius">Tester</span>
            </li>
          </ul>
        </li>

        <li id="documentationTab">
          <ul class="block-grid five-up">
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_andreia.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Andreia Silva</a>
              <span class="secondary label radius">Team Leader</span>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_paulo.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Paulo Cruz</a>
            </li>
            <li class="boxes boxes-third">
              <%= image_tag ('team/team_paulo.jpg') %>
              <a href="#"><div class="mask"><h2>Contact Me!</h2></div></a>
              <a href="#">Nuno Lisboa</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>

    <!-- End Contact Details -->


    <!-- Sidebar -->

    <div class="three columns">

      <h5>Project Manager</h5>

      <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <p style="text-align:center;">
        <a href="#"><%= image_tag ('team/project_manager.jpg') %></a><br />
        <a href="#">João Melo</a>
      </p>

    </div>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->