<!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Contact Details -->
    <div class="nine columns">

      <h3>Get in Touch!</h3>
      <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>

      <dl class="contained tabs">
        <dd class="active"><a href="#contactForm">Contact Our Company</a></dd>
      </dl>

      <ul class="tabs-content contained">
        <li id="contactFormTab" class="active">

        <% @feedback = Feedback.new %>
        <%= form_for(@feedback, :url => get_in_touch_path) do |f| %>
          <% if @feedback.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@feedback.errors.count, "Error") %>:</h2>

              <ul>
              <% @feedback.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row collapse">
            <div class="two columns"><label class="inline">Your Name</label></div>
            <%= f.text_field :nome, :size=>30, :class => "ten columns", :placeholder => "Name" %>
          </div>

          <div class="row collapse">
            <div class="two columns"><label class="inline">Your Email</label></div>
            <%= f.text_field :email, :size=>30, :class => "ten columns", :placeholder => "Email" %>
          </div>

          <label>What's up?</label>
          <%= f.text_area :texto, :rows=>"10", :cols=>"40", :style=>"width:97%;" %>

          <%= f.submit "Submit", :id=>"commit", :class => "radius button" %>

        <% end %>

        </li>
      </ul>

    </div>

    <!-- End Contact Details -->


    <!-- Sidebar -->

    <div class="three columns">

      <h5>Map</h5>

      <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <!-- <p> -->
        <a href="" data-reveal-id="mapModal">
          <div id="map_canvas" style="width:100%;"></div>
        </a><br />
        <a href="https://maps.google.pt/maps?hl=pt-PT&amp;ll=41.561671,-8.397288&amp;spn=0.002348,0.004823&amp;sll=37.221852,-18.827504&amp;sspn=10.227526,19.753418&amp;t=h&amp;hnear=Braga&amp;z=18" target="_blank">View Map</a>
      <!-- </p> -->

      <p>
        Universidade do Minho<br />
        Departamento de Informática
      </p>

    </div>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIVr26-Mo-NuG98I7uiAu9fhpaRwJzM10&amp;sensor=false">
</script>

<script type="text/javascript">
    var mapOptions = {
      center: new google.maps.LatLng(41.561671, -8.397331),
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
      mapOptions);

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(41.561671, -8.397331),
      title: "RasoHR"
    });

    marker.setMap(map); 
</script>