<div class="background_grey_idea_first">
  <div class="row">
    <div class="eight columns">
      <h1 style="color: #494949"> Employee Self Management</h1>
      <hr/>
      <p>Are you tired wasting a lot of time scheduling all the time-off's of your employees? How many time do you waste setting up formations? Talking with interested people or just receiving and validating formation applies.
      RASO have a simple system that allows every employee to book his vacations or just call for sick.
      Also, RASO allows every employee to know when are available formations to him and to apply to them.</p>
    </div>
    <div class="four columns">
      <div class="row frontpage">
        <div class="twelve columns centered" style="text-align: center; margin-bottom: 70px;">
          <div id="featuredContent">
            <div>
            <%= link_to image_tag('idea/part1/EMP1.png')%>
            </div>
            <div style="display: none;">
            <%= link_to image_tag('idea/part1/EMP2.png')%>
            </div>
            <div style="display: none;">
            <%= link_to image_tag('idea/part1/EMP3.png')%>
            </div>
            <div style="display: none;">
            <%= link_to image_tag('idea/part1/EMP4.png')%>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div id="background_white_idea" style="margin-top: 2px">
  <div class="row">
    <div class="four columns">
      <div class="row frontpage">
        <div class="twelve columns centered" style="text-align: center; margin-bottom: 70px;">
          <div id="featuredContent2">
            <div>
            <%= link_to image_tag('idea/part2/EMP1.png')%>
            </div>
            <div style="display: none;">
            <%= link_to image_tag('idea/part2/EMP2.png')%>
            </div>
            <div style="display: none;">
            <%= link_to image_tag('idea/part2/EMP3.png')%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eight columns">
      <h1 style="color: #60add0">It's cheap!</h1>
      <hr/>
      <p>Do you already have any HR software solution? How much do you pay if you have 30 employees? And if you have 25? Usually you pay the same price! But why pay for 30 employees if you only have 25? 
        In RASO you pay per employee and there isn't different account plans with more features.
        We have the best rates in the market: each employee will cost 1€/month!</p>
    </div>
  </div>
</div>

<div class="background_grey_idea" style="margin-top: 2px">
  <div class="row">
    <div class="eight columns">
      <h1 style="color: #494949">Import your data!</h1>
      <hr/>
       <p>How many employees have your company? Imagine you have to create a profile for each one of your employees. Nobody likes to fill forms over and over again. RASO allows you to import your employees data from your documents (XLS or CVS).
      This is a simple process. You just need to upload your document and choose the data that you want to import.
      Don't waste more time filling a lot of forms!</p>
    </div>
    <div class="four columns">
      <div class="row frontpage">
        <div class="twelve columns centered" style="text-align: center; margin-bottom: 70px;">
          <div id="featuredContent3">
            <div>
            <%= link_to image_tag('idea/part3/EMP1.png')%>
            </div>
            <div style="display: none;">
            <%= link_to image_tag('idea/part3/EMP2.png')%>
            </div>
            <div style="display: none;">
            <%= link_to image_tag('idea/part3/EMP3.png')%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="background_white_idea" style="margin-top: 2px">
  <div class="row">
    <div class="four columns">
      <div class="row frontpage">
        <div class="twelve columns centered" style="text-align: center; margin-bottom: 70px;">
          <div id="featuredContent4">
            <div>
            <%= link_to image_tag('idea/part4/EMP1.png')%>
            </div>
            <div style="display: none;">
            <%= link_to image_tag('idea/part4/EMP2.png')%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eight columns">
      <h1 style="color: #60add0">Job offers - Viral share!</h1>
      <hr/>
       <p>Does your job offers reach everyone that you would like to know about? If you want to share your job offers on social networks, can you do it easily?
        With RASO all employees can easily share job offers on social networks like Facebook, Twitter and LinkedIn.</p>
    </div>
  </div>
</div>



<div class="row" style="margin-top: 20px">    
  <div class="twelve columns">
    <div class="panel radius">
      <div class="row" >
        <div class="six mobile-two columns">

          <h4 style="color:#60add0">In a simple way...</h4><hr/>
          <h5 class="subheader">RASO provides a low-cost Human Resources management solution for small and medium sized enterprises. There is no need for software installation or hardware purchase – our online solution centralizes your data to be accessible from anywhere.
          </h5>

        </div>
        <div class="six mobile-two columns">

          With a user-friendly and intuitive layout, RASO’s modular solution supplies a wide range of features, saving your time:</p>
          <div class="twelve columns">
          <ul>
            <li>Advertise your job offers through Facebook or LinkedIn.</li>
            <li>Manage your Employees information: Personal data, contract details, personal documents...</li>
            <li>Import/export your data to Excel or CSV files.</li>
            <li>ATraining Management: training scheduling, selection of employees.</li>
            <li>Performance Management: Self-assessments, evaluations.</li>
            <li>Time Management: Marking holidays, absences.</li>
          </ul> 
        </div>
          <p>Moreover RASO supplies an affordable and reliable solution.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x16', advanceSpeed: 3000});
   });
</script>

<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent2').orbit({ fluid: '16x16', advanceSpeed: 3300});
   });
</script>
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent3').orbit({ fluid: '16x16', advanceSpeed: 3000});
   });
</script>
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent4').orbit({ fluid: '16x16', advanceSpeed: 3300});
   });
</script>