<div id="background_grey">
<div class="row">
	<div class="twelve columns">

		<!-- Desktop Slider -->

		<!-- <div class="hide-for-small">
			<div id="featured">
				<%= image_tag ('slide/1.jpg')%>
				<%= image_tag ('slide/2.jpg')%>
				<%= image_tag ('slide/3.jpg')%>
			</div>
		</div> -->

		<!-- End Desktop Slider -->
		<div class="row frontpage">
			<div class="twelve columns centered" style="text-align: center; margin-bottom: 70px;">
				<div id="featuredContent">
					<div>
						<h1>Tired of HR Work?</h1>
						<h2>Improve your work</h2>
						<div style="width: 70%; margin: 0 auto;">
							<p>Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.</p>
						</div>
					</div>
					<div>
						<h1>Forget Spreadsheets!</h1>
						<h2>Improve your work</h2>
						<div style="width: 70%; margin: 0 auto;">
							<p>Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.</p>
						</div>
					</div>
					<div>
						<h1>Use Raso HR!</h1>
						<h2>Improve your work</h2>
						<div style="width: 70%; margin: 0 auto;">
							<p>Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.</p>
						</div>
					</div>
				</div>
				<!-- 
				<h1>Forget Spreadsheets!</h1>
				<h2>Improve your work</h2>
				<div style="width: 70%; margin: 0 auto;">
					<p>Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.</p>
				</div> -->
				<%= link_to "Try it Free!", new_public_company_path, {:class=>"large radius button", :style=>"z-index: 3;"} %>
			</div>
			
		</div>
	</div>
</div>
</div>
<hr/>
<div class="row">
	<div class="twelve columns" style="margin-top: 40px; ba">
		<div class="row">
			<!-- Thumbnails -->
			<div class="three mobile-two columns boxes boxes-third">
				<%= link_to image_tag('promo/circle.jpg'), :alt=>"thumb"%>
				<div class="mask">
					<h2>Simple as a circle!</h2>
					<p>Lorem impsum, ipa doulos. Lorem impsum, ipa doulos. Lorem impsum.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Simple as a circle!</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<%= link_to image_tag('promo/money.jpg'), :alt=>"thumb"%>
				<div class="mask">
					<h2>Save More! Work less!</h2>
					<p>Lorem impsum, ipa doulos. Lorem impsum, ipa doulos. Lorem impsum.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Save More! Work Less!</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<%= link_to image_tag('promo/link.jpg'), :alt=>"thumb"%>
				<div class="mask">
					<h2>Interoperability is our bet!</h2>
					<p>Lorem impsum, ipa doulos. Lorem impsum, ipa doulos. Lorem impsum.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Interoperability is our bet!</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<%= link_to image_tag('promo/self.jpg'), :alt=>"thumb"%>
				<div class="mask">
					<h2>Let them do your work!</h2>
					<p>Lorem impsum, ipa doulos. Lorem impsum, ipa doulos. Lorem impsum.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Let them do your work!</h6>
			</div>
			<!-- End Thumbnails -->
		</div>
	</div>
</div>



<div class="row">
	<div class="twelve columns">
		<div class="row">

			<!-- Content -->

			<div class="eight columns">
				<div class="panel radius">

					<div class="row">
						<div class="six mobile-two columns">

							<h4>Header</h4><hr/>
							<h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
							</h5>

							<div class="show-for-small" style="text-align: center">
								<a href="#" class="small radius button">Call To Action!</a><br>

								<a href="#" class="small radius button">Call To Action!</a>
							</div>

						</div>
						<div class="six mobile-two columns">

							<p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
							</p>
						</div>

					</div>
				</div>
			</div>

			<div class="four columns hide-for-small">

				<h4>Get In Touch!</h4><hr/>

				<strong>
					<%= nav_link "Contacts", contacts_path, {:class=>"large radius button", :style=>"width:100%; margin-bottom: 10px;"} %>
				</strong>

				<strong>				
					<%= link_to 'Feedback', new_feedback_path(:url=>request.path), :class=>'lightview large radius button', :"data-lightview-title"=>'Feedback', :"data-lightview-options"=>"width: 650, height: 450, skin:'dark'", :style=>"width: 100%;" %>
				</strong>
			</div>
			<!-- End Content -->
		</div>
	</div>
</div>

<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x4', advanceSpeed: 3000});
   });
</script>

