<div id="background_grey">
<div class="row">
	<div class="twelve columns">

		<!-- Desktop Slider -->

		<!-- <div class="hide-for-small">
			<div id="featured">
				<%= image_tag ('slide/1.jpg')%>
				<%= image_tag ('slide/2.jpg')%>
				<%= image_tag ('slide/3.jpg')%>
			</div>
		</div> -->

		<!-- End Desktop Slider -->
		<div class="row frontpage">
			<div class="twelve columns centered" style="text-align: center; margin-bottom: 70px;">
				<div id="featuredContent">
					<div>
						<div class="seven columns">
							<h2>HR Management has never been so easy!</h2>
							<div style="width: 70%; margin: 0 auto;">
								<p>Raso is simple! You don't need to waste time or money learning how to use it.</p>
							</div>
						</div>
						<div class="five columns left">
							<%= link_to image_tag('easy.png'), :alt=>"thumb"%>
						</div>

					</div>
					<div style="display: none;">
						<div class="seven columns">
							<h2>Don't waste your time</h2>
							<div style="width: 70%; margin: 0 auto;">
								<p>Stop wasting your time doing the same process over and over again with lots of papersheets.</p>
							</div>
						</div>
						<div class="five columns left">
							<%= link_to image_tag('waste.png')%>
						</div>
					</div>
					<div style="display: none;">
						<div class="seven columns">
							<h2>Save your money</h2>
							<div style="width: 70%; margin: 0 auto;">
								<p>Why would you pay for HR Software with tons of features that you don't use? Pay the right price!</p>
							</div>
						</div>
						<div class="five columns left">
							<%= link_to image_tag('carteira.png')%>
						</div>
					</div>
				</div>
				<!-- 
				<h1>Forget Spreadsheets!</h1>
				<h2>Improve your work</h2>
				<div style="width: 70%; margin: 0 auto;">
					<p>Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.</p>
				</div> -->
				<%= link_to "Try it Free!", new_public_company_path, {:class=>"large radius button", :style=>"z-index: 3;"} %>
			</div>
			
		</div>
	</div>
</div>
</div>
<hr/>
<div class="row">
	<div class="twelve columns" style="margin-top: 40px;">
		<div class="row">
			<!-- Thumbnails -->
			<div class="three mobile-two columns boxes boxes-third">
				<%= link_to image_tag('promo/EMP1.jpg'), :alt=>"thumb"%>
				<div class="mask">
					<h2>Employee Self Management</h2>
					<p>They do your work!</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Self Management</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<%= link_to image_tag('promo/EMP2.jpg'), :alt=>"thumb"%>
				<div class="mask">
					<h2>It's cheap!</h2>
					<p>Pay per Employee!</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">It's cheap!</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<%= link_to image_tag('promo/EMP3.jpg'), :alt=>"thumb"%>
				<div class="mask">
					<h2>Import your data!</h2>
					<p>Don't waste time filling forms!</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Import your data!</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<%= link_to image_tag('promo/EMP4.jpg'), :alt=>"thumb"%>
				<div class="mask">
					<h2>Job offers - Viral share!</h2>
					<p>Use social networks to share job offers.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Job offers - Viral share!</h6>
			</div>
			<!-- End Thumbnails -->
		</div>
	</div>
</div>



<div class="row">
	<div class="twelve columns">
		<div class="row">

			<!-- Content -->

			<div class="eight columns">
				<div class="panel radius">

					<div class="row">
						<div class="six columns">
							<h5 class="subheader">Raso is an academic project of Masters of Informatics Engineer course of University of Minho.
							</h5>
						</div>
						<div class="six columns">

							<p style="width: 130%; text-align: center"><%= link_to image_tag('um.gif'), 'http://www.uminho.pt'%></p>
						</div>
					</div>
				</div>
			</div>

			<div class="four columns">
				<h4>Get in touch!</h4>
				<strong>
					<%= nav_link "Contacts", contacts_path, {:class=>"large radius button", :style=>"width:100%; margin-bottom: 10px;"} %>
				</strong>

				<strong>	
					<a href="#" class="lightview large radius button" id="buttonForModal" data-reveal-id="myModal" style="width: 100%;">Feedback</a>
				</strong>
			</div>
			<!-- End Content -->
		</div>
	</div>
</div>

<div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <div class="row">
   <div class="twelve columns">
    <%= form_for(@feedback) do |f| %>
      <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "Error") %>:</h2>

          <ul>
          <% @feedback.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <table class="twelve tableJobs">
        	<tr>
                <td><p class="radius label">Name:</p></td>
                <td><%= f.text_field :nome, :size=>30 %></td>
            </tr>
            <tr>
                <td><p class="radius label">E-Mail:</p></td>
                <td><%= f.text_field :email, :size=>30, required:true %></td>
            </tr>
            <tr>
                <td><p class="radius label">Type:</p></td>
                <!-- hack para "feedback[tipo]", ele estava a assumir apenas "tipo" -->
                <td><%= select_tag("feedback[tipo]", options_for_select(["Error","Aspect","Funcionality","Other"],"Error")) %></td>
            </tr>
            <tr>
                <td style="vertical-align:top"><p class="radius label">Description</p></td>
                <td><%= f.text_area :texto, :rows=>"10", :cols=>"40", :style=>"width:97%;", required:true %></td>
            </tr>
            <tr>
                <td>
                    <%= f.text_field :url, :type=>"hidden" %>
                </td>
                <td align="right">
                    <%= f.submit "Submit", :id=>"commit", :class=>"button" %>
                </td>
            </tr>
        </table>
    <% end %>
  </div>
 </div>
</div>

<script type='text/javascript'>
   $(window).load(function() {
      $('#featuredContent').orbit({ fluid: '16x4', advanceSpeed: 3000});
   });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#buttonForModal").click(function() {
      $("#myModal").reveal();
    });
  });
</script>