<br/>
<%= link_to "A-Z", companies_path(params.merge({order: "ASC"}) ) %>
<%= link_to "Z-A", companies_path(params.merge({order: "DESC"})  )%>
<br/>
<table>
	<tbody>
		<tr>
			<th>Name</th>
			<th>Slug</th>
			<th>Nif</th>
			<th>State</th>
			<th>Actions</th>
		</tr>

		<% @companies.each do |company| %>
			<tr>
				<td><%= link_to company.name, company_path(company) %></td>
				<td><%= link_to company.tag+".rasohr.com", company.tag+".rasohr.com" %></td>
				<td><%= company.nif %></td>
				<td><%= company.state %></td>
				<td>Edit|Block|Remove</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @companies %>