<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
      <li><%= link_to t(:company), company_path(@company) %></li>
        <li class="current">
          <a href="#"><%= t(:edit_company) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
      <h1><%= t(:edit_company)%></h1>
      <hr/>
        <%= form_for @company, :html => { :multipart => true } do |f| %>

          <% if @company.errors.any? %> 
            <% @company.errors.full_messages.each do |msg| %>
              <div class="alert-box alert"><%= msg %></div>
            <% end %>
            <hr/>
          <% end %>

          <span class=" radius label"><%= t(:name)%></span>
          <%= f.text_field :name, :class=>"input_space" %>

          <span class=" radius label"><%= t(:photo) %></span><br>
          <%= f.file_field :attach, :class=>"input_space" %><br><br>

          <span class=" radius label"><%= t(:address)%></span>
          <%= f.text_field :address, :class=>"input_space"  %>

          <span class=" radius label"><%= t(:login_message)%></span>
          <%= f.text_field :description, :class=>"input_space"  %>          

          <p style="text-align: center"><%= f.submit t(:save), :class=>"button" %></p>

        <% end %>
      </div>
    </div>
  </div>
</div>