<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to 'Home', user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
      <li><%= link_to t(:company), company_path(@company) %></li>
        <li class="current">
          <a href="#"><%= t(:edit_company) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
      <h1>Edit Company</h1>
      <hr/>
        <%= form_for @company do |f| %>

          <% if @company.errors.any? %> 
            <% @company.errors.full_messages.each do |msg| %>
              <div class="alert-box alert"><%= msg %></div>
            <% end %>
            <hr/>
          <% end %>

          <span class=" radius label">Company Name</span>
          <%= f.text_field :name, :class=>"input_space" %>
          
          <span class=" radius label">WWW</span>
          <%= f.text_field :slug, :class=>"input_space"  %>

          <span class=" radius label">Logo Url</span>
          <%= f.text_field :logo_url, :class=>"input_space"  %>

          <span class=" radius label">NIF</span>
          <%= f.text_field :nif, :class=>"input_space"  %>

          <span class=" radius label">Address</span>
          <%= f.text_field :address, :class=>"input_space"  %>

          <p style="text-align: center"><%= f.submit t(:save), :class=>"button" %></p>

        <% end %>
      </div>
    </div>
  </div>
</div>