<h1><%= @company.name %></h1>
<% if !user_signed_in? @company.tag %>
	<%= link_to "Sign In on Company", company_signin_path(params[:id]) %>
	<br/>
	<br/>
<% else %>
	<%= current_user( @company.tag).name %> |
	<%= link_to "Sign Out on Company", company_signout_path(params[:id]), method: "delete" %>
	<% if current_user( @company.tag).role == 0 %>
		DEUS PRESENTE !
		<%= link_to "Add User", new_company_user_path( params[:id]) %>
        <% end %>
<br>
<br>
<% end %>
<label>Details</label>

<p>Company Name <%= @company.name %></p>
<p>Nif <%= @company.nif %></p>
<p>Slug <%= @company.tag+".rasohr.com" %></p>
<p>Employees <%= @company.users.length-1 %></p>

<table>
	<tbody>
		<tr>
			<th>Cod</th>
			<th>Issued Date</th>
			<th>Payment Date</th>
			<th>Ammount</th>
			<th>State</th>
			<th>Actions</th>
		</tr>

		<% @bills.each do |bill| %>
			<tr>
				<td><%= bill.id %></td>
				<td><%= bill.created_at %></td>
				<td><%= bill.payment_date %></td>
				<td><%= bill.value %></td>
				<td><%= bill.state %></td>
				<td>Action</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= render :partial => 'name_list' if super_user_signed_in? %>
