<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
      <h4>Welcome to RASO registration process</h4>  
      <p>Please fill in the form with your company information</p>
        <hr />    
        
        <%= form_tag(public_companies_path) do %>
          
            <% @company.errors.full_messages.each do |msg| %>
              <div class="alert-box alert"><%= msg %></div>
            <% end %>
            <% @user.errors.full_messages.each do |msg| %>
              <div class="alert-box alert"><%= msg %></div>
            <% end %>

            <%= label :new_company, :name %> 
            <!-- <input type="text" placeholder="Company name" /> -->
            <%= text_field :new_company, :name, required:true %>

            <%= label :new_company, :email %>
            <%= text_field :new_company, :email, required:true %>
            <!-- <input type="text" placeholder="Email" /> -->
          <hr />
            <p style="text-align: center"><%= submit_tag 'Get Started!', :class => "button" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>