<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
      <h4>Welcome to RASO registation process</h4>  
      <p>Please fill in the form with your company information</p>
        <hr />    
        
        <%= form_for :new_company, :url => public_companies_path do |f| %>
          
            <% @company.errors.full_messages.each do |msg| %>
              <div class="alert-box alert"><%= msg %></div>
            <% end %>
            <% @user.errors.full_messages.each do |msg| %>
              <div class="alert-box alert"><%= msg %></div>
            <% end %>

            <label>Complete Company name</label>
            <!-- <input type="text" placeholder="Company name" /> -->
            <%= f.text_field :name %>

            <label>Slug</label>
            <div class="row collapse">
              <div class="six mobile-one columns">
                <span class="prefix">rasohr.com/companies/</span>
              </div>
              <div class="six mobile-three columns">
                <%= f.text_field :slug %>
              </div>  
            </div>
            <label>Email</label>
            <%= f.text_field :email %>
            <!-- <input type="text" placeholder="Email" /> -->
          <hr />
            <p style="text-align: center"><%= f.submit 'Get Started!', :class => "button" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>