<%= form_for [@company ,@offer] do |f| %>
      <% @offer.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
            <% end %>

            <%= f.label t(:job_name) , :class => "radius label"%>
            <%= f.text_field :job_name, :class=>"input_space"  %>

            <%= f.label t(:description) , :class => "radius label"%>
            <%= f.text_area :description, :class=>"input_space"  %>

            <%= f.label t(:required_education) , :class => "radius label"%>
            <%= f.text_area :required_education, :class=>"input_space"  %>
          
            <%= f.label t(:skills) , :class => "radius label"%>
            <%= f.text_area :skills, :class=>"input_space"  %>

            <%= f.label t(:conditions) , :class => "radius label"%>
            <%= f.text_area :conditions, :class=>"input_space"  %>
            </br>
            <p style="text-align: center"><%= f.submit t(:submit), :class=>"button" %></p>
<% end %>