<%= form_for [@company ,@offer] do |f| %>
      <% @offer.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
            <% end %>

            <%= f.label :job_name , :class => "radius label"%>
            <%= f.text_field :job_name, :class=>"input_space"  %>

            <%= f.label :description , :class => "radius label"%>
            <%= f.text_area :description, :class=>"input_space"  %>

            <%= f.label :required_education , :class => "radius label"%>
            <%= f.text_area :required_education, :class=>"input_space"  %>
          
            <%= f.label :skills , :class => "radius label"%>
            <%= f.text_area :skills, :class=>"input_space"  %>

            <%= f.label :conditions , :class => "radius label"%>
            <%= f.text_area :conditions, :class=>"input_space"  %>
            </br>
            <p style="text-align: center"><%= f.submit 'Submit!', :class=>"button" %></p>
<% end %>