<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
        <h1>Edit Job Offer</h1>  
        <h4><%= @offer.job_name  %></h4>
        <hr />    
        
        <%= form_for [@company ,@offer] do |f| %>
            <% @offer.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
            <% end %>

            <span class=" radius label">Job Name</span>
            <%= f.text_field :job_name %>

            <span class=" radius label">Description</span>
            <%= f.text_area :description %>

            <span class=" radius label">Education/Professional History</span>
            <%= f.text_area :required_education %>

            <span class=" radius label">Skills</span>          
            <%= f.text_area :skills %>

            <span class=" radius label">Terms</span>  
            <%= f.text_area :conditions %>
            </br>

             <p style="text-align: center"><%= f.submit 'Update the Job Offer!', :class=>"button" %></p>

      <% end %>
      </div>
    </div>
  </div>
</div>