<h1>All the Job Offers</h1>

<table>
  <tr>
    <th>Job Offer</th>
    <th>Date</th>
    <th>Candidates</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @offers.each do |offer| %>
      <tr>
        <td><%= link_to offer.job_name , '#' %></td>
        <td><%= offer.created_at %></td>
        <td><%= offer.candidates.count %></td>
        <td><% if offer.active %><%= 'Active'  %><% else %><%= 'Inactive' %><% end %></td>
        <td><%= link_to 'Show Offer' , company_job_offer_path(@company,offer) %>
           | <%= link_to 'Update Offer' , edit_company_job_offer_path(@company,offer) %>
           | <%= link_to 'Delete Offer' , [@company,offer] , :method => :delete , :confirm => 'Are you sure?' %></td>
      </tr>
  <% end %>
</table>

<%= link_to "Create Job Offer" , new_company_job_offer_path(params[:company_id]) %>