<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:job_offers) %></a>
        </li>
    </ul>
  </div>
</div>
<!-- Main Grid Section -->

<div class="row">
  <div class="twelve columns">

    <h2><%= t(:job_offers) %></h2>
    
    <div class="row">
      <div class="three columns">
        <dl class="tabs pill">
          <% if params[:order] == "DESC" %>
              <dd><%= link_to "A-Z", company_job_offers_path(@company,params.merge({order: "ASC"})) %> </dd>
              <dd class="active"><%= link_to "Z-A", company_job_offers_path(@company,params.merge({order: "DESC"})  )%> </dd>
          <% else %>
              <dd class="active"><%= link_to "A-Z", company_job_offers_path(@company,params.merge({order: "ASC"})) %> </dd>
              <dd><%= link_to "Z-A", company_job_offers_path(@company,params.merge({order: "DESC"})  )%> </dd>
          <% end %>
        </dl>
      </div>
      <div class="five columns">
        <dl class="sub-nav">
            <dt><%= t(:filter) %></dt>
            <% if(params[:search].to_s != "Open" && params[:search].to_s != "Selection" && params[:search].to_s != "Closed") %>
              <dd class="active">
                  <%= link_to t(:all), company_job_offers_path(@company) %></dd>
              <dd><%= link_to t(:open), company_job_offers_path(@company,params.merge({search: "Open"})) %></dd>
              <dd><%= link_to t(:selection), company_job_offers_path(@company,params.merge({search: "Selection"})) %></dd>
              <dd><%= link_to t(:closed), company_job_offers_path(@company,params.merge({search: "Closed"})) %></dd>
            <% elsif(params[:search].to_s == "Open")%>
              <dd><%= link_to t(:all), company_job_offers_path(@company) %></dd>
              <dd class="active">
                  <%= link_to t(:open), company_job_offers_path(@company,params.merge({search: "Open"})) %></dd>
              <dd><%= link_to t(:selection), company_job_offers_path(@company,params.merge({search: "Selection"})) %></dd>
              <dd><%= link_to t(:closed), company_job_offers_path(@company,params.merge({search: "Closed"})) %></dd>
            <% elsif params[:search].to_s == "Selection" %>
              <dd><%= link_to t(:all), company_job_offers_path(@company) %></dd>
              <dd><%= link_to t(:open), company_job_offers_path(@company,params.merge({search: "Open"})) %></dd>
              <dd class="active">
                  <%= link_to t(:selection), company_job_offers_path(@company,params.merge({search: "Selection"})) %></dd>
              <dd><%= link_to t(:closed), company_job_offers_path(@company,params.merge({search: "Closed"})) %></dd>
            <% elsif params[:search].to_s == "Closed" %>
              <dd><%= link_to t(:all), company_job_offers_path(@company) %></dd>
              <dd><%= link_to t(:open), company_job_offers_path(@company,params.merge({search: "Open"})) %></dd>
              <dd><%= link_to t(:selection), company_job_offers_path(@company,params.merge({search: "Selection"})) %></dd>
              <dd class="active">
                  <%= link_to t(:closed), company_job_offers_path(@company,params.merge({search: "Closed"})) %></dd>
            <% end %>
        </dl>
      </div>
      <div class="four columns">
        <%= link_to t(:see_public_page), public_company_job_offers_path( @company), :target => "_blank",:class=>"radius button right" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <div class="row">
        <div class="twelve columns">
          <% if @offers.any? %>
            <table class="twelve">
              <thead>
                <tr>
                  <th style="text-align:center"><%= t(:job_offer) %></th>
                  <th style="text-align:center"><%= t(:date_t) %></th>
                  <th style="text-align:center"><%= t(:candidates) %></th>
                  <th style="text-align:center"><%= t(:status) %></th>
                  <th style="text-align:center"><%= t(:actions) %></th>
                </tr>
              </thead>
              <tbody>
                <% @offers.each do |offer| %>
                    <tr>
                      <td><%= link_to offer.job_name , company_job_offer_path(@company,offer) %></td>
                      <td style="text-align:center"><%= offer.created_at %></td>
                      <td style="text-align:center"><%= offer.candidates.count %></td>
                      <td style="text-align:center" >
                        <% if offer.status == "Open" %>
                            <span style="color:green;"><%= t(:active)%></span>
                        <% elsif offer.status == "Closed" %>
                            <span style="color:red;"><%=  t(:closed) %></span>
                        <% elsif offer.status == "Selection" %>
                            <span style="color: orange;"><%= "Selection" %></span>
                        <% end %>
                      </td>
                      <td style="text-align:center">
                           <% @urlaux = "#{new_apply_url(@company, offer.id)}" %>
                           <% @urlredirect = "#{company_job_offers_url(@company)}" %>
                           <ul class="jobs_links">
                            <li>
                              <%= link_to t(:update) , edit_company_job_offer_path(@company,offer), :class=>"radius label"%>
                            </li>
                            <li>
                              <%= link_to t(:delete), [@company,offer] , :method => :delete , :confirm => t(:are_you_sure), :class=>"alert radius label" %>
                            </li>
                            <li>
                              <img src="<%=asset_path "share.png"%>" class="facebook_button" onclick='postToFeed("<%= @company.id %>", "<%=offer.id %>","<%=offer.job_name %>",
                                "<%=offer.description %>", "<%= @urlaux%>", "<%= @urlredirect%>");return false;' />
                            </li>
                                <li>
                                <a href="https://twitter.com/share" class="twitter-share-button"
                                data-via="RasoHR"
                                data-text="Job Offer: <%= offer.job_name %>"
                                data-url= "<%= @urlaux %>"
                                data-lang="en"
                                data-count="none">Tweet</a>
                              </li>
                             </ul>
                      </td>
                    </tr>
                <% end %>
              </tbody>
            </table>
            <%= will_paginate @offers %>
              <div class="row">
                <div class="eight columns">
                </div>
                <div class="four columns">
                  <div class="row collapse">
                    <%= form_tag company_job_offers_path(@company), :method => 'get' do %>
                        <div class="eight mobile-three columns">
                          <%= text_field_tag :search %>
                        </div>
                        <div class="four mobile-one columns">
                          <%= submit_tag t(:search), :name => nil, :class=>"button expand postfix" %>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% else %>
            <h3 style="text-align:center">There are no offers registered</h3>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <p style="text-align: center"><%= link_to t(:create_job_offer) , new_company_job_offer_path(params[:company_id]), :class=>"button" %></p>
  </div>
</div>

<script src='https://connect.facebook.net/en_US/all.js'></script>

<script>
        FB.init({appId: "302887353149276", status: true, cookie: true});

        function postToFeed(companyid, offerid, nome, desc, link, red_u) {

            var red_uri = red_u;
            var l = link;
            var pic = 'http://rasohr.com/assets/logo-a93807b32d218311cf0d6ebe49309d29.png';
            var n = nome;
            var c = 'Job description:';
            var d = desc;

            // calling the API ...
            var obj = {
                method: 'feed',
                redirect_uri: red_uri,
                link: l,
                picture: pic,
                name: n,
                caption: c,
                description: d
            };

            function callback(response) {
                document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
            }

            FB.ui(obj, callback);
        }
</script>

<script>
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;
                js.src="https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js,fjs);
            }
        }
                (document,"script","twitter-wjs");
</script>