<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <li class="current">
          <a href="#"><%= t(:job_offers) %></a>
        </li>
    </ul>
  </div>
</div>
<!-- Main Grid Section -->

<div class="row">
  <div class="twelve columns">

    <h2><%= t(:job_offers) %></h2>
    
    <div class="row">
      <div class="three columns">
        <dl class="tabs pill">
          <dd id="linkAsc" class="active"><%= link_to 'A-Z' , company_job_offers_path(@company, :order => "ASC"), :remote => :true ,:id => "asc" %></dd>
          <dd id="linkDesc"><%= link_to 'Z-A' , company_job_offers_path(@company, :order => "DESC"), :remote => :true , :id => "desc" %></dd>
        </dl>
      </div>
      <div class="four columns">
        <dl class="sub-nav">
          <dt><%= t(:filter) %></dt>
          <dd id="linkAll" class="active"><%= link_to 'All' , company_job_offers_path(@company, :status => "ALL"), :remote => :true ,:id => "all" %></dd>
          <dd id="linkOpen"><%= link_to 'Open' , company_job_offers_path(@company, :status => "Open"), :remote => :true ,:id => "open" %></dd>
          <dd id="linkSelection"><%= link_to 'Selection' , company_job_offers_path(@company, :status => "Selection"), :remote => :true ,:id => "selection" %></dd>
          <dd id="linkClosed"><%= link_to 'Closed' , company_job_offers_path(@company, :status => "Closed"), :remote => :true ,:id => "closed" %></dd>
        </dl>
      </div>
      <div class="two columns">
        <dl class="sub-nav">
          <dt>
            <%= link_to 'Reload All' , company_job_offers_path(@company, :status => "Closed"), :remote => :true ,:id => "closed" %>
          </dt>
        </dl>
      </div>
      <div class="three columns">
        <%= link_to t(:see_public_page), public_company_job_offers_path( @company), :target => "_blank",:class=>"radius button right" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <div class="row">
        <div class="twelve columns">
          <% if @offers.any? %>
            <table class="twelve">
              <thead>
                <tr>
                  <th style="text-align:center"><%= t(:job_offer) %></th>
                  <th style="text-align:center"><%= t(:date_t) %></th>
                  <th style="text-align:center"><%= t(:candidates) %></th>
                  <th style="text-align:center"><%= t(:status) %></th>
                  <th style="text-align:center"><%= t(:actions) %></th>
                </tr>
              </thead>
              <tbody id="jobOffersTable">
                <%= render 'job_offers_table' , :company => @company, :offers => @offers %>
              </tbody>
            </table>
            <%= will_paginate @offers %>
              <div class="row">
                <div class="eight columns">
                </div>
                <div class="four columns">
                  <div class="row collapse">
                    <%= form_tag company_job_offers_path(@company), :method => 'get' do %>
                        <div class="eight mobile-three columns">
                          <%= text_field_tag :search %>
                        </div>
                        <div class="four mobile-one columns">
                          <%= submit_tag t(:search), :name => nil, :class=>"button expand postfix" %>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% else %>
            <h3 style="text-align:center">There are no offers registered</h3>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <p style="text-align: center"><%= link_to t(:create_job_offer) , new_company_job_offer_path(params[:company_id]), :class=>"button" %></p>
  </div>
</div>

<!-- Script JQuery para filtros ASC DESC -->
<script>
    $('#asc').click(function(event) //Quando se clica no link A-Z
    {
        $('#linkAsc').addClass('active');
        $('#linkDesc').removeClass('active');
    }
    );

    $('#desc').click(function(event) //Quando se clica em Z-A
    {
        $('#linkDesc').addClass('active');
        $('#linkAsc').removeClass('active');
    }
    );
</script>
<!-- Fim de script para ASC DESC -->

<!-- Script JQuery para filtros ALL Active Closed -->
<script>
    $('#all').click(function(event) //Quando se clica no link A-Z
    {
        $('#linkAll').addClass('active');
        $('#linkOpen').removeClass('active');
        $('#linkSelection').removeClass('active');
        $('#linkClosed').removeClass('active');
    }
    );

    $('#open').click(function(event) //Quando se clica em Z-A
    {
        $('#linkOpen').addClass('active');
        $('#linkAll').removeClass('active');
        $('#linkSelection').removeClass('active');
        $('#linkClosed').removeClass('active') ;
    }
    );

    $('#selection').click(function(event) //Quando se clica em Z-A
    {
        $('#linkSelection').addClass('active');
        $('#linkAll').removeClass('active');
        $('#linkSelection').removeClass('active');
        $('#linkClosed').removeClass('active');
    }
    );

    $('#closed').click(function(event) //Quando se clica em Z-A
    {
        $('#linkClosed').addClass('active');
        $('#linkAll').removeClass('active');
        $('#linkOpen').removeClass('active');
        $('#linkSelection').removeClass('active');
    }
    );
</script>
<!-- Fim de script para ASC DESC -->

<!-- Inicio de script para aceder a APIs de Facebook e Twitter-->
<script src='https://connect.facebook.net/en_US/all.js'></script>

<script>
    FB.init({appId: "302887353149276", status: true, cookie: true});

    function postToFeed(companyid, offerid, nome, desc, link, red_u) {

        var red_uri = red_u;
        var l = link;
        var pic = 'http://rasohr.com/assets/logo-a93807b32d218311cf0d6ebe49309d29.png';
        var n = nome;
        var c = 'Job description:';
        var d = desc;

        // calling the API ...
        var obj = {
            method: 'feed',
            redirect_uri: red_uri,
            link: l,
            picture: pic,
            name: n,
            caption: c,
            description: d
        };

        function callback(response) {
            document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
    }
</script>

<script>
    !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;
            js.src="https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
        }
    }
            (document,"script","twitter-wjs");
</script>
<!-- Fim de script de acesso a API Facebook e Twitter -->




