<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><a href="#">Home</a></li>
        <li><a href="#">Jobs</a></li>
        <li class="current"><a href="#">Junior Web Developer</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h3><%= @company.name %> - <%= @offer.job_name %></h3>
      <div class="panel">
        <table class="twelve tableJobs">
        <tbody>
          <tr>
            <td><span class="label radius">Job Offer</span></td>
            <td><%= @offer.job_name %></td>
          </tr>
          <tr>
            <td><span class="label radius">Required Education</span></td>
            <td><%= @offer.required_education %></td>
          </tr>
          <tr>
            <td><span class="label radius">Skills</span></td>
            <td><%= @offer.skills %></td>
          </tr>
          <tr>
            <td><span class="label radius">Description</span></td>
            <td><%= @offer.description %></td>
          </tr>
          <tr>
            <td><span class="label radius">Conditions</span></td>
            <td><%= @offer.conditions %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <h3>Candidates</h3>
    <div class="panel">
      <div class="row">
        <div class="twelve columns">
          <table class="twelve tableJobs">
            <thead>
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Nationality</th>
                <th>Telephone</th>
                <th>Resume</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% @candidates.each do |candidate| %>
                <tr>
                  <td><%= candidate.name %></td>
                  <td><%= candidate.email %></td>
                  <td><%= candidate.nationality %></td>
                  <td><%= candidate.phone %></td>
                  <td><%= link_to 'Load' , '#'%></td>
                  <td>Awaiting Interview</td>
                </tr>
              <% end %>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="eight columns">
          <ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li class="unavailable"><a href="">&hellip;</a></li>
            <li><a href="">12</a></li>
            <li><a href="">13</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
          </ul>
        </div>
        <div class="four columns">
          <div class="row collapse">
              <div class="eight mobile-four columns">
                <input type="text" />
              </div>
              <div class="four mobile-one columns">
                <a class="button expand postfix">Search</a>
              </div>
          </div>
        </div>
      </div>  
    </div>
    <!-- END PANEL -->
  </div>
  <!-- END BOTTOM -->
</div>

    <%= link_to 'Post Offer on Facebook' , '#' %>  ||
    <p style="text-align: center"><%= link_to 'Back to Job Offers' , company_job_offers_path, :class=>"button" %></p>
  </div>
</div>

