<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
      <li><%= link_to t(:job_offers), company_job_offers_path(@company) %></li>
      <li class="current"><a href="#"><%= @offer.job_name %></a></li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="seven columns">
      <h3><%= @company.name %> - <%= @offer.job_name %></h3>
    </div>
    <div class="five columns">
      <ul class="button-group radius right">
        <li><%= link_to t(:update_offer), edit_company_job_offer_path(@company,@offer), :class=>"radius button add_user" %></li>
      </ul>
    </div>
</div>

<div class="row">
  <div class="twelve columns">
      <div class="panel">
        <table class="twelve tableJobs">
        <tbody>
          <tr>
            <td><span class="label radius"><%= t(:job_offer) %></span></td>
            <td><%= @offer.job_name %></td>
          </tr>
          <tr>
            <td><span class="label radius"><%= t(:required_education) %></span></td>
            <td><%= @offer.required_education %></td>
          </tr>
          <tr>
            <td><span class="label radius"><%= t(:skills) %></span></td>
            <td><%= @offer.skills %></td>
          </tr>
          <tr>
            <td><span class="label radius"><%= t(:description) %></span></td>
            <td><%= @offer.description %></td>
          </tr>
          <tr>
            <td><span class="label radius"><%= t(:conditions) %></span></td>
            <td><%= @offer.conditions %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <h3><%= t(:candidates) %></h3>
    <div class="panel">
      <div class="row">
        <div class="twelve columns">
          <table class="twelve">
            <thead>
            <tr>
              <th style="text-align:center"><%= t(:name) %></th>
              <th style="text-align:center"><%= t(:email) %></th>
              <th style="text-align:center"><%= t(:nationality) %></th>
              <th style="text-align:center"><%= t(:telephone) %></th>
              <th style="text-align:center"><%= t(:resume) %></th>
              <th style="text-align:center"><%= t(:status) %></th>
            </tr>
            </thead>
            <tbody>
            <% @candidates.each do |candidate| %>
                <tr>
                  <td><%= link_to candidate.name , show_profile_path(@company,@offer,candidate) %></td>
                  <td style="text-align:center"><%= candidate.email %></td>
                  <td style="text-align:center"><%= candidate.nationality %></td>
                  <td style="text-align:center"><%= candidate.phone %></td>
                  <td style="text-align:center"><%= link_to t(:load) , show_candidate_path(@company, @offer, candidate) %></td>
                  <td style="text-align:center">
                    <% case candidate.status when 'Awaiting Interview'%>
                        <span style="color:blue;"><%= candidate.status%></span>
                    <% when 'Interviwed' %>
                        <span style="color: yellow;"><%= candidate.status %></span>
                    <% when 'Selected' %>
                        <span style="color: green;"><%= candidate.status %></span>
                    <% when 'Rejected' %>
                        <span style="color: red;"><%= candidate.status %></span>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
  <!-- END BOTTOM -->
</div>

<p style="text-align: center;">
  <%= link_to t(:back_job_offers) , company_job_offers_path(@company), :class=>"button" %>
  <% if @offer.status == "Open" %>
      <%= link_to "Update to Selection" , update_offer_status_path(@company,@offer,:status => "Selection"), :class=>"button" %>
      <%= link_to "Close Job Offer" , update_offer_status_path(@company,@offer,:status => "Closed"), :class=>"button" %>
  <% elsif @offer.status == "Selection" %>
      <%= link_to "Close Job Offer" , update_offer_status_path(@company,@offer,:status => "Closed"), :class=>"button" %>
  <% else %>
      <%= link_to "Reopen Job Offer" , update_offer_status_path(@company,@offer,:status => "Open"), :class=>"button" %>
  <% end %>
</p>


