<div class="row">
  <div class="twelve columns">
      <h1><%= @company.name %> - <%= @offer.job_name %></h1>
      <hr/>
        <table class="twelve">
          <tr>
            <td><b>Job Name</b></td>
            <td><%= @offer.job_name %></td>
          </tr>
          <tr>
            <td><b>Description</b></td>
            <td><%= @offer.description %></td>
          </tr>
          <tr>
            <td><b>Education/Professional History</b></td>
            <td><%= @offer.required_education %></td>
          </tr>
          <tr>
            <td><b>Required Skills</b></td>
            <td><%= @offer.skills %></td>
          </tr>
          <tr>
            <td><b>Terms</b></td>
            <td><%= @offer.conditions %></td>
          </tr>
        </table>


<<<<<<< HEAD
        <p style="text-align: center"><%= link_to 'Back to Job Offers' , company_job_offers_path, :class=>"button" %></p>
      </div>
    </div>
=======
</br>

<table>
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Nationality</th>
    <th>Telephone</th>
    <th>Resume</th>
    <th>Status</th>
  </tr>
  <% @candidates.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.email %></td>
      <td><%= candidate.nationality %></td>
      <td><%= candidate.phone %></td>
      <td><%= link_to 'Load' , '#'%></td>
      <td>Awaiting Interview</td>
    </tr>
  <% end %>
</table>

<%= link_to 'Post Offer on Facebook' , '#' %>  ||
<%= link_to 'Back to Job Offers' , company_job_offers_path %>
>>>>>>> recrutamento
