<table class="twelve">
  <thead>
    <tr>
    <th>Cod</th>
    <th>Issued Date</th>
    <th>Ammount</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
    </tr>
  </thead>
  <tbody>
  <% @bills.each do |bill| %>
    <tr>
      <td><%= bill.id %></td>
      <td><%= bill.created_at %></td>
      <td><%= bill.value %></td>
      <td><%= bill.state %></td>
      <% if bill.state == BILLSTATE[:unpaid] %>
        <td><%= link_to t(:pay), bill.paypal_url(company_url, payment_notification_url) %></td>
      <% else %>
        <td>t(:paid)</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @bills %>