<table class="twelve">
  <thead>
    <tr>
    <th><%= t(:id) %></th>
    <th><%= t(:issued_date)%></th>
    <th><%= t(:ammount)%></th>
    <th><%= t(:state)%></th>
    <th><%= t(:actions)%></th>
  </tr>
    </tr>
  </thead>
  <tbody>
  <% @bills.each do |bill| %>
    <tr>
      <td><%= bill.id %></td>
      <td><%= bill.created_at %></td>
      <td><%= bill.value %></td>
      <% if bill.state == BILLSTATE[:unpaid] %>
        <td><%= t(:unpaid) %></td>
      <% elsif bill.state== BILLSTATE[:pending] %>
        <td><%= t(:pending) %></td>
      <% else %>
        <td><%= t(:paid) %></td>
      <% end %>
      <% if bill.state == BILLSTATE[:unpaid] %>
        <td>
          <!-- link_to t(:pay), bill.paypal_url(company_url, payment_notification_url) -->
          <%= form_tag APP_CONFIG[:paypal_url] do%>
            <%= hidden_field_tag :cmd, "_s-xclick" %>
            <%= hidden_field_tag :encrypted, bill.paypal_encrypted(company_url, payment_notification_url(:secret => APP_CONFIG[:paypal_secret])) %>
            <p>
              <%= submit_tag t(:pay)  %>
            </p>
          <% end %>
        </td>
      <% elsif bill.state== BILLSTATE[:pending] %>
        <td><%= t(:pending) %></td>
      <% else %>
        <td><%= t(:paid) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>