<table class="twelve">
  <thead>
    <tr>
    <th>Cod</th>
    <th>Issued Date</th>
    <th>Payment Date</th>
    <th>Ammount</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
    </tr>
  </thead>
  <tbody>
  <% @bills.each do |bill| %>
    <tr>
      <td><%= bill.id %></td>
      <td><%= bill.created_at %></td>
      <td><%= bill.payment_date %></td>
      <td><%= bill.value %></td>
      <td><%= bill.state %></td>
      <td>Action</td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @bills %>