<h1> <%= t(:show_contract) %> </h1>

<p> <%= t(:job_title) %> <%= @contract.job_title %> </p>
<p> <%= t(:start_date) %> <%= @contract.start_date %> </p>
<p> <%= t(:end_date) %> <%= @contract.end_date %> </p>
<p> <%= t(:value) %> <%= @contract.value %> </p>