<div class="feedback" >
    <%= form_for(@feedback) do |f| %>
      <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "erro") %> estão a impedir o envio do feedback:</h2>

          <ul>
          <% @feedback.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <table align="center">
            <tr>
                <td align="right"><%= f.label :nome, "Nome:" %></td>
                <td><%= f.text_field :nome, :size=>30 %></td>
            </tr>
            <tr>
                <td align="right"><%= f.label :email, "E-mail:" %></td>
                <td><%= f.text_field :email, :size=>30 %></td>
            </tr>
            <tr>
                <td align="right"><%= f.label :tipo, "Tipo:" %></td>
                <!-- hack para "feedback[tipo]", ele estava a assumir apenas "tipo" -->
                <td><%= select_tag("feedback[tipo]", options_for_select(["Erro","Aspecto","Funcionalidade","Outro"],"Erro")) %></td>
            </tr>
            <tr>
                <td align="right" style="vertical-align:top"><%= f.label :texto, "Descrição:" %></td>
                <td><%= f.text_area :texto, :rows=>"10", :cols=>"40", :style=>"width:97%;" %></td>
            </tr>
            <tr>
                <td>
                    <%= f.text_field :url, :type=>"hidden" %>
                </td>
                <td align="right">
                    <%= f.submit "Submeter", :id=>"commit" %>
                </td>
            </tr>
        </table>
    <% end %>
</div>