<tr>
  <td><%=h parameter.name %></td>
  <td>
    <%= check_box_tag "selected[parameter_id][]" , parameter.id%>
    <%= f.hidden_field :parameter_id , :value => parameter.id %>
  </td>
  <td>
    <%= f.select :min_value , options_for_select((0..100).to_a.collect) %>
  </td>
  <td>
    <%= f.select :max_value , options_for_select((0..100).to_a.collect) %>
  </td>
</tr>
