<%= form_for [@company, @evaluation]  do |f| %>
    <% @evaluation.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
    <span class=" radius label"><%= t(:description) %></span>
    <%= f.text_field :description, :class=>"input_space", required: true  %>
    <span class=" radius label"><%= t(:start_day) %></span>
    <%= f.text_field :period_begin, :class=>"input_space", required: true %>
    <span class=" radius label"><%= t(:end_day) %></span>
    <%= f.text_field :period_end, :class=>"input_space", required: true %>
    <span class=" radius label"><%= t(:evaluator) %></span>
    <%= f.select :user_id , options_from_collection_for_select(@employees, :id,:name), {}, {:class=>"select"} %>

    <br/>

    <span class=" radius label"><%= t(:evaluatees) %></span>
    <br/>
    <div class="employees">
        <% @employees.each do |em| %>
            <!-- TODO: CHECKBOX's COM OS EMPREGADOS TODOS?! -->
            <%= check_box_tag "evaluatees[user_id][]" , em.id %>
            <%= em.name %>
            <br/>
        <% end %>
    </div>
    <br/>
    <br/>

    <span class=" radius label"><%= t(:parameters) %></span>
    <table class="twelve">
        <thead>
            <tr>
                <th><%= t(:parameter_name) %></th>
                <th><%= t(:accept) %></th>
                <th><%= t(:minimun_value) %></th>
                <th><%= t(:maximun_value) %></th>
            </tr>
        </thead>
        <tbody id="parameterList">
            <%= render 'parameter_list' , :parameters => @parameters , :f => f %>
        </tbody>
    </table>

    <%= link_to t(:new_parameter) , new_company_parameter_path(@company), :id => 'evaluationModel', :remote => :true %>

    <br/><br/>

    <%= f.submit %>

<% end %>

<div id="parameter" class="reveal-modal [expand, xlarge, large, medium, small]">
</div>