<%= form_for [@company, @evaluation]  do |f| %>
    <% @evaluation.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
    <span class=" radius label"><%= t(:description) %></span>
    <%= f.text_field :description, :class=>"input_space"  %>
    <span class=" radius label"><%= t(:start_day) %></span>
    <%= f.text_field :period_begin, :class=>"input_space" %>
    <span class=" radius label"><%= t(:end_day) %></span>
    <%= f.text_field :period_end, :class=>"input_space" %>
    <span class=" radius label"><%= t(:evaluator) %></span>
    <%= f.select :user_id , options_from_collection_for_select(@employees, :id,:name), {}, {:class=>"select"} %>
    <span class=" radius label"><%= t(:parameters) %></span>
    <br/>

    <span class=" radius label"><%= t(:evaluatees) %></span>
    <br/>
    <% @employees.each do |em| %>
        <!-- TODO: CHECKBOX's COM OS EMPREGADOS TODOS?! -->
        <%= check_box_tag "evaluatees[user_id][]" , em.id %>
        <%= em.name %>
        <br/>
    <% end %>
    <br/>
    <br/>

    <table border="1">
      <tr>
        <td>Parameter Name</td>
        <td>Accept</td>
        <td>Minimum Value</td>
        <td>Maximum Value</td>
      </tr>

      <% @parameters.each do |parameter| %>
          <%= f.fields_for :evaluation_user_parameters do |builder|  %>
              <%= render 'evaluation_user_parameters_fields', :f => builder, :evaluation => @evaluation, :parameter => parameter %>
          <% end %>
      <% end %>

    </table>

    <%= link_to "New Parameter?" , new_company_parameter_path(@company), :id => 'evaluationModel', :remote => :true %>

    <br/><br/>

    <%= f.submit %>

<% end %>

<div id="parameter" class="reveal-modal [expand, xlarge, large, medium, small]">
</div>