<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to 'Home', user_dashboard_path(@company, current_user(@company.slug)) %></li>
      <li><%= link_to "Evaluations", company_evaluations_path(@company) %></li>
      <li class="current"><a href="#"><%= @evaluation.description %></a></li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="seven columns">
      <h3><%= @company.name %> - <%= @evaluation.description %></h3>
    </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">

        <h1><%= "Evaluate them!" %></h1>
        <% @eval_users.each do |eval_user| %>
            <%= render 'evaluate_form', :evaluatee => eval_user ,
                                        :evaluation_parameters => @eval_users_params.where(:user_id => eval_user.id),
                                        :evaluation => @evaluation ,
                                        :company => @company%>
        <% end %>

        <%= link_to 'Done' ,company_evaluations_path(@company) ,  :class => "button" %>

      </div> <!-- Fecha Panel -->
    </div> <!-- Fecha signup -->
  </div> <!-- Fecha twelve columns -->
</div> <!-- Fecha row -->