<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to t(:home) , user_dashboard_path(@company, current_user(@company.slug)) %></li>
      <li><%= link_to t(:evaluations), company_evaluations_path(@company) %></li>
      <li class="current"><a href="#"><%= t(:new) %></a></li>
    </ul>
  </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div id="new-evaluation">
            <div class="panel">
                <h1><%= t(:new_evaluation) %></h1>
                <%= render 'form' %>
            </div> <!-- Fecha Panel -->
        </div> <!-- Fecha signup -->
    </div> <!-- Fecha twelve columns -->
</div> <!-- Fecha row -->

<script type="text/javascript">
    $(function() {
        $("#evaluation_period_begin").datepicker({ dateFormat: 'yy-mm-dd' });
    });
    
    $(function() {
        $("#evaluation_period_end").datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>