<div class="row">
    <div class="twelve columns">
            <div class="panel">
                <h1><%= t(:new_evaluation_parameter) %></h1>
                <%= form_for [@company,@parameter] do |f| %>
                	<span class=" radius label"><%= t(:name) %></span>
                	<%= f.text_field :name, :class=>"input_space"  %>
                	<span class=" radius label"><%= t(:description) %></span>
                	<%= f.text_area :description , :size => "30x5", :class=>"input_space"  %>
                	<br/>
                	<%= f.submit %>
                <% end %>
			</div> <!-- Fecha Panel -->
    </div> <!-- Fecha twelve columns -->
</div> <!-- Fecha row -->