<h1>All Evaluation Parameters</h1>


<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:description) %></th>
  </tr>
  <% @parameters.each do |pr| %>
  <tr>
    <td><%= pr.name %></td>
    <td><%= pr.description %></td>
  </tr>
  <% end %>
</table>

<%= link_to t(:create_evaluation_parameter) , new_company_parameter_path %>

