<h1>New Evaluation Parameter</h1>

<%= form_for [@company,@parameter] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_area :description , :size => "30x5"%>
    <br/>
    <%= f.submit %>
<% end %>
