<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
    	<% if current_user(@company.slug).role >= ROLE[:manager] %>
          <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <%else%>
          <li><%= link_to @company.name, company_path(@company) %></li>
        <%end%>
        <li>
          <% if session[:model_name].eql?("users") %>
              <%= link_to t(:employees), company_users_path(@company)  %></li>
            <% end %>
            <% if session[:model_name].eql?("time_offs") %>
              <%= link_to t(:time_offs), company_users_path(@company)  %></li>
            <% end %>
        <li class="current">
          <a href="#">
            <% if session[:model_name].eql?("users") %>
              <%= t(:import_user) %>
            <% end %>
            <% if session[:model_name].eql?("time_offs") %>
              <%= t(:import_time_offs) %>
            <% end %>
            </a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:first_step) %></a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:second_step) %></a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:third_step) %></a>
        </li>
        <li class="current">
          <a href="#"><%= t(:comfirmation_step) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
      <div class="panel">
        <h2>
          <% if session[:model_name].eql?("users") %>
            <%= t(:import_user) %>
          <% end %>
          <% if session[:model_name].eql?("time_offs") %>
            <%= t(:import_time_offs) %>
          <% end %>
        </h2>
        <hr/>
		<h4>
			<%= t(:excel_name) %>:
			<%= session[:excel_sheet]%>
		</h4>
		<h5>
			<%= t(:excel_data) %>
		</h5>
			<table class="twelve" >
			<%
				$i1 = 0
				while $i1 < session[:sheet_data].count

					line_data = session[:sheet_data][$i1]
			%>
					<tr />
			<%
					$j1 = 0
					while $j1 < line_data.count 
			%>
						<td>
						<%= (line_data[$j1]).to_s %>
						</td>
			<%
					$j1 += 1
					end
			%>
					</tr>
			<%
				$i1 += 1
				end
			%>
			</table>


		<%= form_tag(:controller => "importsingle", :action => "final_import_step", :method => "post") do %>
		    <div style="text-align: center"><%= submit_tag t(:confirm), :class=>"radius button" %></div>
		<% end -%>


		</div>
    </div>
  </div>
</div>

