<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
        <% if current_user(@company.slug).role >= ROLE[:manager] %>
          <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <%else%>
          <li><%= link_to @company.name, company_path(@company) %></li>
        <%end%>
        <li>
          <% if session[:model_name].eql?("users") %>
              <%= link_to t(:employees), company_users_path(@company)  %></li>
            <% end %>
            <% if session[:model_name].eql?("time_offs") %>
              <%= link_to t(:time_offs), company_users_path(@company)  %></li>
            <% end %>
        <li class="current">
          <a href="#">
            <% if session[:model_name].eql?("users") %>
              <%= t(:import_user) %>
            <% end %>
            <% if session[:model_name].eql?("time_offs") %>
              <%= t(:import_time_offs) %>
            <% end %>
            </a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:first_step) %></a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:second_step) %></a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:third_step) %></a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:comfirmation_step) %></a>
        </li>
        <li class="current">
          <a href="#"><%= t(:import_stats) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
      <div class="panel">
        <h2><%= t(:import_stats) %></h2>
        <hr/>
		<h4>
      <% if session[:model_name].eql?("users") %>
        <%= t(:users_imported) %>:
      <% end %>
        <% if session[:model_name].eql?("time_offs") %>
        <%= t(:time_offs_imported) %>:
      <% end %>
		</h4>
      <% if session[:model_name].eql?("users") %>
        <% session[:imported_users].each do |u| %>
          <p><%= u.to_s %><p/>
        <% end %>
      <% end %>
        <% if session[:model_name].eql?("time_offs") %>
        <% session[:imported_time_offs].each do |u| %>
          <p><%= u.to_s %><p/>
        <% end %>
      <% end %>
 		 <div class="twelve columns">
			<div class="six columns">
			<%= form_tag(:controller => "importsingle", :action => "finalize", :method => "post") do %>
			    <%= submit_tag t(:ok), :class=>"radius button right" %>
			<% end %>
			</div>
			<div class="six columns">
			<%= form_tag(:controller => "importsingle", :action => "import_another", :method => "post") do %>
			    <%= submit_tag t(:import_from_o_sheet), :class=>"radius button left" %>
			<% end %>
			</div>
		</div>
		<div style="clear: both;"> </div>
	</div>
    </div>
  </div>
</div>



