<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
        <% if current_user(@company.slug).role >= ROLE[:manager] %>
          <li><%= link_to t(:home), user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
        <%else%>
          <li><%= link_to @company.name, company_path(@company) %></li>
        <%end%>
        <li>
          <% if session[:model_name].eql?("users") %>
              <%= link_to t(:employees), company_users_path(@company)  %></li>
            <% end %>
            <% if session[:model_name].eql?("time_offs") %>
              <%= link_to t(:time_offs), company_users_path(@company)  %></li>
            <% end %>
        <li class="current">
          <a href="#">
            <% if session[:model_name].eql?("users") %>
              <%= t(:import_user) %>
            <% end %>
            <% if session[:model_name].eql?("time_offs") %>
              <%= t(:import_time_offs) %>
            <% end %>
            </a>
        </li>
        <li class="current">
          <a href="#"><%= t(:first_step) %></a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:second_step) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
        <h2>
          <% if session[:model_name].eql?("users") %>
            <%= t(:import_user) %>
          <% end %>
          <% if session[:model_name].eql?("time_offs") %>
            <%= t(:import_time_offs) %>
          <% end %>
        </h2>
        <hr/>
        <p><%= t(:sheet_choose)%></p>
			<%= form_tag(:controller => "importsingle", :action => "trd_step", :method => "post") do %>
				
				<% session[:sheetsArray].each do |sheet| %>
     				<span><%= radio_button_tag 'sheet' , sheet.to_s %><%= label_tag sheet.to_s %></span>
			    <% end %>

			    <div style="text-align: center"><%= submit_tag t(:continue) , :class=>"radius button" %></div>
			<% end -%>
      </div>
    </div>
  </div>
</div>