<h2> Import an <%= "'"+session[:model_name]+"'" %> </h2>
	
	<h3>
		(Second Step)
	</h3>

<%= form_tag(:controller => "importsingle", :action => "trd_step", :method => "post") do %>
	
	<br />
	<h3> Choose the Excel Sheet: </h3>
	<% session[:sheetsArray].each do |sheet| %>
	    <%= label_tag sheet.to_s %>
	    <%= radio_button_tag 'sheet' , sheet.to_s %>
	 	<br />
    <% end %>

    <br />
    <div><%= submit_tag 'Continue' %></div>
<% end -%>

<!-- ERRORS -->
<% if !session[:error].eql?("none") %>
	<hr>
		<h4>
			<%= "ERROR: "+session[:error].to_s%>
		<h4 />
	<hr/>
<% end %>

<hr />

<%= link_to 'Cancel', session[:model] %>