<div class="row">
  <div class="twelve columns">
    <ul class="breadcrumbs">
      <li><%= link_to 'Home', user_dashboard_path(@company.id, current_user(@company.slug)) %></li>
      <li><%= link_to t(:employees), company_users_path(@company)  %></li>
        <li class="current">
          <a href="#"><%= t(:import_user) %></a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:first_step) %></a>
        </li>
        <li class="unavailable">
          <a href="#"><%= t(:second_step) %></a>
        </li>
        <li class="current">
          <a href="#"><%= t(:third_step) %></a>
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
        <h2><%= t(:import_user) %></h2>
        <hr/>
        <p><%= t(:options_import)%></p>
			<%= form_tag(:controller => "importsingle", :action => "default_confirmation_step", :method => "post") do %>
		
		    <%= radio_button_tag 'import_mode' , 'default' %>
		    <%= label_tag t(:default) %>

		    <%= radio_button_tag 'import_mode' , 'custom' %>
		    <%= label_tag t(:custom) %>

	   		<div style="text-align: center"><%= submit_tag t(:continue) , :class=>"radius button" %></div>
		<% end -%>	



      </div>
    </div>
  </div>
</div>




