<table class="twelve" style="text-align: center;">
  <tr>
    <td><span class="radius label"><%= t(:name) %></span></td>
    <td><%= @candidate.name %></td>
  </tr>
  <tr>
    <td><span class="radius label"><%= t(:email) %></span></td>
    <td><%= @candidate.email %></td>
  </tr>
  <tr>
    <td><span class="radius label"><%= t(:location) %></span></td>
    <td><%= @candidate.location %></td>
  </tr>
  <tr>
    <td><span class="radius label"><%= t(:nationality) %></span></td>
    <td><%= @candidate.nationality %></td>
  </tr>
  <tr>
    <td><span class="radius label"><%= t(:phone) %></span></td>
    <td><%= @candidate.phone %></td>
  </tr>
  <tr>
    <td><span class="radius label"><%= t(:status) %></span></td>
    <td>
      <%= @candidate.status %>
    </td>
  </tr>
</table>