<table style="text-align: center;">
  <tr>
    <td><%= t(:name) %></td>
    <td><%= @candidate.name %></td>
  </tr>
  <tr>
    <td><%= t(:email) %></td>
    <td><%= @candidate.email %></td>
  </tr>
  <tr>
    <td><%= t(:location) %></td>
    <td><%= @candidate.location %></td>
  </tr>
  <tr>
    <td><%= t(:nationality) %></td>
    <td><%= @candidate.nationality %></td>
  </tr>
  <tr>
    <td><%= t(:phone) %></td>
    <td><%= @candidate.phone %></td>
  </tr>
  <tr>
    <td><%= t(:status) %></td>
    <td>
      <%= @candidate.status %>
    </td>
  </tr>
</table>