
<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <h3> New Password </h3>
      <hr/>
      <%= form_for [@company, @user], :url => reset_password_submit_path(@company, @user) do |f| %>
        
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>

        <span class=" radius label">Password</span>
        <%= f.password_field :password, :class=>"input_space" %>

        <span class=" radius label">Confirm Password</span>
        <%= f.password_field :password_confirmation, :class=>"input_space" %>



        <p style="text-align: center"><%= f.submit t(:submit), :class => "button"%></p>
      <% end %>
    </div>
  </div>
</div>