<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "BackOffice" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Header and Nav -->
<!-- Header and Nav -->

  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            Raso Admin
          </a>
        </h1>
      </li>
      <li class="toggle-nav"><a href="#"></a></li>
    </ul>

    <section>
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li>
          <a class="active" href="/companies">Companies</a>
        </li>
        <li class="divider"></li>
        <li><a href="/invoices">Invoices</a></li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </section>
  </nav>


  <!-- End Header and Nav -->
  
  <!-- End Header and Nav -->
  
  <%= yield %>

 <!-- Footer -->

  <footer class="row footer_raso">
		<div class="twelve columns" style="padding: 0;">
			<hr/>
			<div class="row">

				<div class="six columns" style="width: 70%;">
					<p>Copyright &copy; 2012 Raso. Todos os direitos reservados. Desenvolvido por Raso Team.</p>
				</div>

			</div>
		</div>
	</footer>
</body>
</html>