<!DOCTYPE html>
	<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
	<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
	<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
	<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		
		<!-- Uncomment to make IE8 render like IE7 -->
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
		
		<!-- Set the viewport width to device width for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<title><%= content_for?(:title) ? yield(:title) : "BackOffice" %></title>
	  
		<!-- Included CSS Files -->
		<%= stylesheet_link_tag    "application" %>
		
		<!-- Included JS Files  -->
		<%= javascript_include_tag "application" %>

		<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
		<!-- <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'> -->

	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap">
			<div class="<%= controller.controller_name %>">
				<div class="row" >
					<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class:"row alert-box #{key}") %>
					<% end %>
					<%= yield %>
				</div>
		  	</div>
			<div class="push">
			</div>
		</div>
	<!-- Footer -->
		<footer class="row footer_raso">
			<div class="twelve columns" style="padding: 0;">
				<hr/>
				<div class="row">
					<div class="six columns" style="width: 70%;">
						<p>Copyright &copy; 2012 Raso. <%= t(:footer_message) %></p>
					</div>
				</div>
			</div>
		</footer>
	<!-- End Footer -->

	<a href="#" data-reveal-id="myModal" style="color:white">
		<div id="giveUsFeedback" class="small radius button">
			Feedback
		</div>
	</a>

	<div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
    <div class="row">
     <div class="twelve columns">
      <h3 style="text-align: center"><%=t(:give_feedback)%></h3>
      <%= form_for(@feedback) do |f| %>
        <% if @feedback.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@feedback.errors.count, "Error") %>:</h2>

            <ul>
            <% @feedback.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
          <table class="twelve tableJobs">
            <tr>
                  <td style="vertical-align:middle;"><p class="radius label"><%=t(:name)%></p></td>
                  <td><%= f.text_field :nome, :size=>30, :style=>"margin:0px;" %></td>
              </tr>
              <tr>
                  <td style="vertical-align:middle;"><p class="radius label">*<%=t(:email)%></p></td>
                  <td><%= f.text_field :email, :size=>30, required:true, :style=>"margin:0px;" %></td>
              </tr>
              <tr>
                  <td style="vertical-align:middle;"><p class="radius label"><%=t(:type)%></p></td>
                  <!-- hack para "feedback[tipo]", ele estava a assumir apenas "tipo" -->
                  <td><%= select_tag("feedback[tipo]", options_for_select([t(:error),t(:aspect),t(:funcionality),t(:other)],"Error")) %></td>
              </tr>
              <tr>
                  <td style="vertical-align:top"><p class="radius label">*<%=t(:description)%></p></td>
                  <td><%= f.text_area :texto, :rows=>"5", :cols=>"40", :style=>"width:100%;", required:true %></td>
              </tr>
              <tr>
                  <td>
                      <%= f.text_field :url, :type=>"hidden" %>
                  </td>
                  <td style="text-align: right">
                      <%= f.submit t(:submit), :id=>"commit", :class=>"small radius button", :style=>"align:right;" %>
                  </td>
              </tr>
          </table>
      <% end %>
    </div>
   </div>
  </div>

	<script type="text/javascript">
	  $(document).ready(function() {
	    $("#buttonForModal").click(function() {
	      $("#myModal").reveal();
	    });
	  });
	</script>

	<!-- Included JS Files -->
	<!-- <script src="../public/assets/templates.js"></script> -->
		<script type="text/javascript">
			$(window).load(function() {
				$('#featured').orbit({ fluid: '2x1' });
			});
		</script>

	</body>
</html>