<!DOCTYPE html>
<!-- xmlns:fb="https://www.facebook.com/2008/fbml" -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "RasoEmp" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
        <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <nav class="top-bar">
      <ul>
        <!-- Title Area -->
        <li class="name">
          <% if current_user(@company.slug).role > ROOT %>
            <%= link_to  @company.name, user_dashboard_path(@company.slug, current_user(@company.slug)) %>
          <% else %>
            <%= link_to @company.name, company_path(@company) %>
          <% end %>
        </li>
      </ul>

      <section>
        <!-- Left Nav Section -->
        <ul class="left">
          <% if current_user(@company.slug).role == ROLE[:manager] %>
          <li class="divider"></li>
          <li>
            <%= link_to t(:job_offers), company_job_offers_path(@company) %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to t(:time_offs), manage_company_user_time_offs_path(@company,current_user(@company.slug)) %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to t(:trainings), manage_company_trainings_path(@company) %>
          </li>
          <% end %>
          <% if current_user(@company.slug).role <= ROLE[:manager] %>
          <li class="divider"></li>
          <li><%= link_to t(:employees), company_users_path(@company) %></li>
          <% end %>
          <li class="divider"></li>
          <% if current_user(@company.slug).role >= ROLE[:manager] %>
          <li><%= link_to t(:company) , company_path(@company) %></li>
          <li class="divider"></li>        
          <li><%= link_to t(:calendar), calendar_path(@company) %></li>
          <li class="divider"></li>
          <%end%>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li  class="name" style="line-height: 20px; padding: 15px; text-align: center">
            <%  curUser=current_user(@company.slug) %>
            <span style="color:white"><%=  curUser.name %></span><br/>
            <span class="secondary radius label"><%  if curUser.role == 0%>
            <%= t(:root)%>
            <%else%>
            <%= ROLE.invert[current_user(@company.slug).role]%>
            <%end%></span>
          </li>
          <li class="divider"></li>
          <li><%= link_to t(:logout), company_signout_path(@company) %></li>
        </ul>
      </section>
    </nav>


  <!-- End Header and Nav -->
  
  <!-- End Header and Nav -->
   <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class:"row alert-box #{key}") %>
  <% end %>
  <%= yield %>

  <div class="push"></div>
</div>
 <!-- Footer -->
  <footer class="row footer_raso">
		<div class="twelve columns" style="padding: 0;">
			<hr/>
			<div class="row">

				<div class="six columns" style="width: 70%;">
					<p>Copyright &copy; 2012 Raso. <%= t(:footer_message) %></p>
				</div>

			</div>
		</div>
	</footer>
</body>
</html>